// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: 'Montserrat', sans-serif
  font-weight: normal
  font-size: 16px
  color: #696969

h1
  font-size: 32px
  font-weight: bold
  color: #3B3B3B

h2
  font-size: 32px
  font-weight: bold
  color: #3B3B3B

h3
  font-size: 24px
  font-weight: bold
  color: #000


h4
  font-size: 16px
  color: #404040
  font-weight: bold

h5
  font-size: 14px
  color: #404040

h6
  font-size: 14px
  font-weight: bold

a
  color: #000
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    color: inherit
    outline: none
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: 700

em
  font-style: italic

img
  max-width: 100%

p
  font-size: 16px
  line-height: normal
  margin-bottom: 20px

