
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Bold.eot')
  src: url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/Montserrat/Montserrat-Bold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Bold.woff') format("woff"), url('../fonts/Montserrat/Montserrat-Bold.ttf') format("truetype"), url('../fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold') format("svg")
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Regular.eot')
  src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/Montserrat/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Regular.woff') format("woff"), url('../fonts/Montserrat/Montserrat-Regular.ttf') format("truetype"), url('../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?rdk1l8')
  src: url('../fonts/icomoon/icomoon.eot?rdk1l8#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?rdk1l8') format("truetype"), url('../fonts/icomoon/icomoon.woff?rdk1l8') format("woff"), url('../fonts/icomoon/icomoon.svg?rdk1l8#icomoon') format("svg")
  font-weight: normal
  font-style: normal



[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

.icon-sm1:before 
  content: "\e94c"

.icon-achievement:before
  content: "\e900"

.icon-action-camera:before
  content: "\e901"

.icon-adapter:before
  content: "\e902"

.icon-apartment:before
  content: "\e903"

.icon-bluetooth:before
  content: "\e904"

.icon-car:before
  content: "\e905"

.icon-car2:before
  content: "\e906"

.icon-cart:before
  content: "\e907"

.icon-cart2:before
  content: "\e908"

.icon-check:before
  content: "\e909"

.icon-checked:before
  content: "\e90a"
  color: #f05228

.icon-close:before
  content: "\e90b"

.icon-cloud:before
  content: "\e90c"

.icon-computer-tablet:before
  content: "\e90d"

.icon-delete:before
  content: "\e90e"

.icon-edit:before
  content: "\e90f"

.icon-email:before
  content: "\e910"

.icon-eye:before
  content: "\e911"

.icon-facebook:before
  content: "\e912"

.icon-front-store:before
  content: "\e913"

.icon-google-plus:before
  content: "\e914"

.icon-hand:before
  content: "\e915"

.icon-headphones:before
  content: "\e916"

.icon-heard2:before
  content: "\e917"

.icon-heart:before
  content: "\e918"

.icon-hourglass:before
  content: "\e919"

.icon-instagram:before
  content: "\e91a"

.icon-joystick:before
  content: "\e91b"

.icon-like:before
  content: "\e91c"

.icon-line:before
  content: "\e91d"

.icon-mail-send:before
  content: "\e91e"

.icon-man:before
  content: "\e91f"

.icon-marker:before
  content: "\e920"

.icon-burger:before
  content: "\e921"

.icon-next:before
  content: "\e922"

.icon-next1:before
  content: "\e923"

.icon-phone:before
  content: "\e924"

.icon-phone-case:before
  content: "\e925"

.icon-phone-charger:before
  content: "\e926"

.icon-pinterest:before
  content: "\e927"

.icon-power-bank:before
  content: "\e928"

.icon-profits:before
  content: "\e929"

.icon-profits2:before
  content: "\e92a"

.icon-save:before
  content: "\e92b"

.icon-screwdriver:before
  content: "\e92c"

.icon-sd-card:before
  content: "\e92d"

.icon-search:before
  content: "\e92e"

.icon-share:before
  content: "\e92f"

.icon-shield:before
  content: "\e930"

.icon-shopping-bag:before
  content: "\e931"

.icon-shopping-cart:before
  content: "\e932"

.icon-skyline:before
  content: "\e933"

.icon-sm2:before
  content: "\e934"

.icon-sm3:before
  content: "\e935"

.icon-smartphone:before
  content: "\e936"

.icon-smartwatch:before
  content: "\e937"

.icon-speech-message:before
  content: "\e938"

.icon-star:before
  content: "\e939"

.icon-store:before
  content: "\e93a"

.icon-tablet:before
  content: "\e93b"

.icon-teamwork:before
  content: "\e93c"

.icon-telegram:before
  content: "\e93d"

.icon-thumbs:before
  content: "\e93e"

.icon-time:before
  content: "\e93f"

.icon-timer-silhouette:before
  content: "\e940"

.icon-twitter:before
  content: "\e941"

.icon-user:before
  content: "\e942"

.icon-user2:before
  content: "\e943"

.icon-user3:before
  content: "\e944"

.icon-user4:before
  content: "\e945"

.icon-vk:before
  content: "\e946"

.icon-wallet:before
  content: "\e947"

.icon-wallet2:before
  content: "\e948"

.icon-wallet3:before
  content: "\e949"

.icon-whatsapp:before
  content: "\e94a"

.icon-youtube:before
  content: "\e94b"






















.sprite::before
  content: ''
  position: relative
  background-image: url(../img/spritesheet.png)
  background-repeat: no-repeat
  display: block

.sprite-cart-ic::before
  width: 19px
  height: 20px
  background-position: -5px -5px

.sprite-dislike-b-ic::before
  width: 26px
  height: 28px
  background-position: -34px -5px

.sprite-drop-ic::before
  width: 6px
  height: 5px
  background-position: -70px -5px

.sprite-eye-g-ic::before
  width: 21px
  height: 15px
  background-position: -86px -5px

.sprite-eye-w-ic::before
  width: 21px
  height: 15px
  background-position: -117px -5px

.sprite-heart-grey-ic::before
  width: 24px
  height: 21px
  background-position: -148px -5px

.sprite-heart-ic::before
  width: 17px
  height: 15px
  background-position: -182px -5px

.sprite-instagram-f-ic::before
  width: 24px
  height: 24px
  background-position: -70px -30px

.sprite-instagram-ic::before
  width: 18px
  height: 18px
  background-position: -104px -30px

.sprite-like-w-ic::before
  width: 26px
  height: 28px
  background-position: -132px -36px

.sprite-menu-ic::before
  width: 27px
  height: 14px
  background-position: -168px -36px

.sprite-next-ic::before
  width: 11px
  height: 16px
  background-position: -5px -60px

.sprite-next2-ic::before
  width: 50px
  height: 50px
  background-position: -26px -74px

.sprite-pinterest-f-ic::before
  width: 25px
  height: 25px
  background-position: -168px -60px

.sprite-pinterest-ic::before
  width: 19px
  height: 19px
  background-position: -86px -95px

.sprite-play-ic::before
  width: 76px
  height: 76px
  background-position: -115px -95px

.sprite-prev-ic::before
  width: 11px
  height: 16px
  background-position: -104px -60px

.sprite-prev2-ic::before
  width: 50px
  height: 50px
  background-position: -209px -5px

.sprite-scroll-ic::before
  width: 38px
  height: 38px
  background-position: -203px -65px

.sprite-search-ic::before
  width: 15px
  height: 15px
  background-position: -251px -65px

.sprite-share-ic::before
  width: 20px
  height: 21px
  background-position: -201px -113px

.sprite-star-blue-ic::before
  width: 13px
  height: 12px
  background-position: -251px -90px

.sprite-star-grey-ic::before
  width: 13px
  height: 12px
  background-position: -251px -112px

.sprite-star2-blue-ic::before
  width: 21px
  height: 20px
  background-position: -5px -134px

.sprite-star2-grey-ic::before
  width: 21px
  height: 20px
  background-position: -36px -134px

.sprite-store-ic::before
  width: 22px
  height: 23px
  background-position: -67px -134px

.sprite-telegram-f-ic::before
  width: 25px
  height: 22px
  background-position: -231px -134px

.sprite-telegram-ic::before
  width: 19px
  height: 17px
  background-position: -5px -166px

.sprite-user-ic::before
  width: 14px
  height: 18px
  background-position: -34px -166px

.sprite-vk-f-ic::before
  width: 33px
  height: 20px
  background-position: -201px -166px

.sprite-vk-ic::before
  width: 25px
  height: 15px
  background-position: -5px -196px

.sprite-whatsapp-f-ic::before
  width: 24px
  height: 24px
  background-position: -40px -196px

.sprite-whatsapp-ic::before
  width: 18px
  height: 18px
  background-position: -244px -166px

.sprite-youtube-f-ic::before
  width: 28px
  height: 24px
  background-position: -74px -196px

.sprite-youtube-ic::before
  width: 21px
  height: 18px
  background-position: -112px -194px