@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------

header

.container
	max-width: 1920px
	padding: 0 60px
	width: 100%

.justify-align
	display: flex
	justify-content: space-between
	align-items: center

.left-align
	display: flex
	align-items: center

.header-wrap
	display: flex
	
.header-wrap__right
	width: calc(100% - 180px)

.logo
	width: 180px
	display: flex
	align-items: center
	justify-content: center
	background: #1b4e9d



.header-top
	padding: 0 60px 0 0
	width: 100%
	background: #014da1

	select

.header-top__left
	display: flex
	align-items: center
	width: 50%
	


.header-top__select
	display: flex
	align-items: center
	justify-content: center
	min-width: 160px
	min-height: 55px
	text-align: center
	border-left: 1px solid #80A6D0
	border-right: 1px solid #80A6D0

	.jq-selectbox__select
		font-size: 14px
		color: #fff

	.jq-selectbox__select-text
		position: relative
		padding: 0 14px 0 0

		&::after
			content: '\e922'
			position: absolute
			right: 1px
			top: 5px
			font-family: "icomoon"
			color: #fff
			font-size: 8px
			transform: rotate(90deg)

	.jq-selectbox__dropdown
		top: 36px !important
		left: -28px !important

		ul
			background: #fff
			width: 160px
			li
				padding: 5px 10px

.search-form
	position: relative
	display: flex
	align-items: center
	width: calc(100% - 160px)
	min-height: 55px
	border-right: 1px solid #80A6D0

	input
		width: 100%
		padding: 0 40px
		border: none
		outline: none
		font-size: 14px
		color: #fff
		background-color: transparent

	button
		position: absolute
		right: 40px
		top: 38%
		padding: 0
		background-color: transparent
		border: none
		outline: none
		transform: scale(-1, 1)

		.icon-search
			color: #fff
			font-size: 15px


	*::-webkit-input-placeholder 
		font-size: 14px
		color: #869DC7
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


	*:-moz-placeholder 
		font-size: 14px
		color: #869DC7
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


	*::-moz-placeholder 
		font-size: 14px
		color: #869DC7
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


	*:-ms-input-placeholder 
		font-size: 14px
		color: #869DC7
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


*:focus::-webkit-input-placeholder 
	color: #1b2030
	text-indent: 620px
	opacity: 0


*:focus::-moz-placeholder 
	color: #1b2030
	text-indent: 620px
	opacity: 0


*:focus:-moz-placeholder 
	color: #1b2030
	text-indent: 620px
	opacity: 0


*:focus:-ms-input-placeholder 
	color: #1b2030
	text-indent: 620px
	opacity: 0


.header-top__right
	display: flex
	align-items: center

.header-top__cashback
	position: relative
	display: inline-block
	font-size: 14px
	color: #fff
	&::before
		content: ''
		position: absolute
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 1px
		background: #879FC8
	&:hover, &:focus
		color: #fff

.header-top__btn
	list-style: none

	>li
		position: relative
		display: inline-block
		margin-left: 25px
		vertical-align: middle

		&.header-cart
			display: inline-flex

		>a
			position: relative
			display: flex
			justify-content: center
			align-items: center
			width: 34px
			height: 34px
			background: #fff
			border-radius: 4px

			&:hover
				opacity: 1
				>i
					color: #0d2750

			>i
				font-size: 18px
				color: $blue
			
			>span
				position: absolute
				right: -8px
				bottom: -4px
				width: 17px
				height: 17px
				display: flex
				align-items: center
				justify-content: center
				font-size: 10px
				color: #fff
				background: #0d2750
				border-radius: 50%


.header-top__window
	display: none
	position: absolute
	right: 0
	top: 45px
	
	min-width: 490px
	background: #fff
	border-left: 1px solid $blue
	border-right: 1px solid $blue
	border-bottom: 6px solid $blue
	z-index: 100

	.close-btn
		position: absolute
		right: 30px
		top: 25px
		padding: 0
		background-color: transparent
		border: none
		outline: none
		color: #A1A1A1
		font-size: 18px

	h4
		padding: 10px 0 0
		font-size: 14px
		color: #404040

	.product-table
		padding-left: 30px
		padding-right: 30px
		border-collapse: collapse

		>li
			&:last-child
				border-bottom: 0

		.product-table__block
			position: relative
			padding-top: 20px
			padding-bottom: 20px
			&:first-child
				padding-left: 30px
			&:last-child
				padding-right: 30px

				.clear-btn
					position: absolute
					top: 35%
					right: 25px
					width: 31px
					height: 31px
					font-size: 13px

					i
						font-size: 13px

		.product-table__name
			padding: 0 0 0 20px
			span
				font-size: 12px
				margin: 3px
			h3
				font-size: 14px

		.product-table__price
			padding: 0 0 0 30px
			span
				font-size: 14px
			strong
				font-size: 20px




.header-top__window--top
	position: relative
	padding: 15px 80px 15px 30px

	.btn-blue__transparent
		padding: 10px 30px 9px
		text-transform: uppercase
		font-weight: bold
		font-size: 14px

.header-top__user_menu
	margin-bottom: 20px
	list-style: none

	li
		position: relative
		display: block

		&::before
			content: '\e922'
			position: absolute
			right: 30px
			top: 45%
			color: #8B8B8B
			font-size: 9px
			font-family: "icomoon"


		a
			display: block
			padding: 15px 30px 15px 70px
			border-bottom: 1px solid #ccc
			color: #8D8D8D
			font-size: 14px

		&:hover

			a, i
				background: #E8EDF5
				color: #3A69B1
				opacity: 1
			&::before
				color: $blue

		i
			position: absolute
			left: 30px
			top: 13px
			font-size: 20px
			color: #8D8D8D

.header-top__window--body
	padding: 0 0 20px

	.btn-grey
		font-size: 12px
		padding: 10px 30px 9px

.header-top__window--wrap
	padding: 0 30px

























.header-cart__wrap
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	padding: 0 0 0 10px

	span
		&:last-child
			font-size: 12px
			color: #fff
.header-cart__count
	display: block
	margin-bottom: 4px
	width: 44px
	height: 17px
	line-height: 17px
	text-align: center
	border-radius: 10px
	background: #0d2750
	font-size: 10px
	color: #fff
	font-weight: bold

.header-nav
	padding: 0 60px 0 0
	background: #0d2750





	
.navbar
	min-height: 0
	margin: 0
	border: none
	border-radius: 0
	border: none

	// &.navbar-fixed
	// 	position: fixed
	// 	right: 0
	// 	left: 0
	// 	right: 0
	// 	top: 0
	// 	margin: 0 auto
	// 	max-width: 1192px
	// 	padding: 0 15px
	// 	z-index: 999

.navbar-collapse
	padding-right: 0
	padding-left: 0
	border-top: none
	-webkit-box-shadow: none
	box-shadow: none

.navbar-nav
	float: none
	margin: 0

.nav.navbar-nav
	&::before, &::after
		display: none

.navbar-nav 

	> li
		float: none
		display: inline-block
		vertical-align: middle

		

		&.catalog-btn
			position: relative

			&::before
				content: '\e921'
				position: absolute
				left: 28px
				top: 10px
				font-family: "icomoon"
				color: #fff
				font-size: 23px

			>a
				position: relative
				padding: 12px 30px 12px 38px
				margin: 0 0 0 30px
				font-weight: bold

				&::before
					position: absolute
					left: 0
					top: 15px

		> a
			position: relative
			display: block
			padding: 12px 30px
			font-size: 14px
			color: #fff
			border: none

			&.dropdown-toggle
				position: relative
				&::before
					content: '\e922'
					position: absolute
					right: 14px
					top: 14px
					font-family: "icomoon"
					color: #fff
					font-size: 8px
					transform: rotate(90deg)

			&:hover, &:focus, &.active
				background-color: transparent
				color: #fff


			.mobile-toggler
				position: absolute
				right: -15px
				top: 45%
				transform: rotate(90deg)
				font-size: 8px
				z-index: 10
		
			


.dropdown-menu
	padding: 20px 30px
	top: 44px
	background: #fff
	margin: 0
	border: none

	>li

		>a
			position: relative
			display: block
			padding: 6px 0
			width: 100%
			color: #969696
			font-weight: normal
			font-size: 14px

			&:hover, &:focus
				color: #404040
				opacity: 1
				text-shadow: 0 0 0.001px #000000, 0 0 .1px #000000
				background-color: transparent



.catalog-menu
	display: none
	position: absolute
	left: 0
	top: 44px
	width: 330px
	list-style: none
	background: #fff
	z-index: 100
	border-bottom: 6px solid $blue

	>li
		display: block

		>a
			position: relative
			display: block
			padding: 0 60px 0 76px
			height: 44px
			display: flex
			align-items: center
			border-bottom: 1px solid #ccc
			color: #8D8D8D
			font-size: 12px

			&::before
				content: '\e922'
				position: absolute
				right: 20px
				top: 19px
				color: #8B8B8B
				font-size: 9px
				font-family: "icomoon"

			.icon-sm1
				left: 32px

		&:last-child
			a
				border: none

		&:hover

			>a, i
				background: #E8EDF5
				color: #3A69B1
				opacity: 1
			&::before
				color: $blue

		i
			position: absolute
			left: 25px
			top: 7px
			font-size: 30px
			color: #8D8D8D

.catalog-submenu
	display: none
	position: absolute
	left: 100%
	height: 100%
	top: 0
	background: #fff
	z-index: 100
	&::after
		content: ''
		position: absolute
		left: 0
		right: 0
		bottom: -6px
		height: 6px
		width: 100%
		background: $blue
	
	&__body
		padding: 40px
		width: 580px
		
		h4
			font-size: 14px
			margin-bottom: 35px

		.tabs-nav
			display: flex
			margin-bottom: 40px
			list-style: none
			>li
				>a
					position: relative
					display: inline-block
					padding: 12px 10px 12px 40px
					min-width: 148px
					text-align: center
					background-color: transparent
					border: 1px solid #A1BDDC
					color: #93A3C8
					font-size: 12px
					font-weight: bold
					text-transform: uppercase

					&.active
						background: #E8EDF5
						border-color: #E8EDF5
						color: #014da1

						i
							color: #014da1

					i
						position: absolute
						left: 20px
						top: 10px
						font-size: 18px
						color: #93A3C8

						&.icon-computer-tablet
							transform: rotate(-90deg)

				&:first-child
					a
						border-radius: 20px 0 0 20px
				&:last-child
					a
						border-radius: 0 20px 20px 0



.brand-links
	list-style: none

	li
		width: 32%
		display: inline-block
		
		margin-bottom: 20px
		a
			font-size: 12px
			color: #8D8D8D

			&:hover, &:focus
				color: $blue
				opacity: 1


.catalog-banner
	position: absolute
	left: 100%
	top: 0
	bottom: 0

	&::after
		content: ''
		position: absolute
		left: 0
		right: 0
		bottom: -6px
		height: 6px
		width: 100%
		background: $blue

	img
		height: 100%
		max-width: none

.catalog-banner__overlay
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	display: flex
	flex-direction: column
	padding: 35px

	h3
		margin-bottom: 25px
		color: #fff

	h4
		margin-bottom: 25px
		color: #fff
	.btn
		width: auto















































.header-nav__right
	display: flex
	align-items: center

.soc-btn
	list-style: none

	li
		display: inline-block
		margin-right: 16px
		vertical-align: middle
		&:last-child
			margin-right: 0

		a
			display: block
			font-size: 20px
			color: #fff

			.icon-vk, .icon-youtube
				font-size: 25px


.header-tel
	display: inline-block
	margin-left: 30px
	font-size: 14px
	font-weight: bold
	color: #fff

	&:hover, &:focus
		color: #fff




























.content
	min-height: calc(100vh - 360px)
	background: #ededed

.main-products
	margin: 25px 0 30px

	>.row
		display: flex
		margin-left: -10px
		margin-right: -10px

		[class^="col"]
			padding-left: 10px
			padding-right: 10px

.main-products__slider
	.slick-dots
		bottom: 10px

		li
			width: 13px
			height: 13px
			border-radius: 50%
			border: 2px solid #99B8D9
			&.slick-active
				background: #99B8D9

			button
				padding: 0
				&::before
					display: none



.main-products__slider--item
	position: relative

.main-products__slider--overlay
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	display: flex
	flex-direction: column
	justify-content: space-between
	padding: 100px 0 100px 100px	

.main-products__slider__name
	font-size: 32px
	font-weight: bold
	color: #fff

.main-products__slider--info
	font-weight: bold
	color: #fff
	font-size: 20px


.btn
	display: inline-block
	padding: 15px 40px 13px
	border: none
	border-radius: 30px
	text-align: center
	outline: none
	font-size: 16px
	font-weight: bold
	color: $blue
	background: $yellow
	text-transform: uppercase

	&:hover, &:focus
		color: $blue
		background: $yellow
		outline: none

.btn-blue__transparent
	font-size: 16px
	font-weight: normal
	color: $blue
	background-color: transparent
	padding: 7px 40px 6px
	border: 1px solid $blue
	text-transform: none
	opacity: .6

	&:hover, &:focus
		opacity: 1
		background-color: transparent
		outline: none

.btn-grey__transparent
	font-size: 16px
	font-weight: bold
	color: #000
	background-color: transparent
	padding: 13px 60px 12px
	border: 1px solid #000
	opacity: .6
	&:hover, &:focus
		opacity: 1
		color: #000
		background-color: transparent
		outline: none

.btn-grey
	color: $blue
	background: #e8edf5


.icon-menu
	height: 100%
	display: flex
	flex-direction: column

.icon-menu__row
	display: flex
	margin-left: -10px
	margin-right: -10px
	margin-bottom: 15px
	&:last-child
		margin-bottom: 0

.icon-menu__item
	position: relative
	display: flex
	justify-content: space-between
	flex-direction: column
	padding: 23px 35px 23px
	width: 50%
	margin: 0 10px
	background: #fff
	border: 3px solid #fff

	&::before
		content: ''
		position: absolute
		left: -3px
		top: -3px
		height: 3px
		width: 30%
		background: $blue

	&:hover
		opacity: 1
		border-color: $blue
		.icon-menu__name
			color: $blue

	i
		font-size: 50px
		color: $blue

.icon-menu__name
	display: block
	height: 50px
	font-family: "Montserrat" !important
	font-size: 16px
	color: #8D8D8D

.icon-slider
	padding: 0 65px
	margin-bottom: 40px
	background: #fff

	.slick-prev, .slick-next
		content: ''
		background-image: url(../img/spritesheet.png)
		background-repeat: no-repeat
		display: block
		width: 11px
		height: 16px
		top: 58%
	.slick-prev
		left: 20px
		background-position: -5px -60px
	.slick-next
		right: 20px
		background-position: -104px -60px
		&:hover, &:focus
		
	.slick-prev
		&:hover, &:focus
			
		&:before
			content: ''
	.slick-next:before
		content: ''


.icon-slider__item
	position: relative
	padding: 0 35px
	
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		height: 3px
		width: 30%
		background: $blue
		transition: all .3s

	&::after
		content: ''
		position: absolute
		left: 0
		top: 0
		bottom: 0
		margin: auto
		width: 1px
		height: 47px
		background: #ccc
	&:hover
		&::before
			width: 100%

	a
		display: flex
		min-height: 100px
		align-items: center
		justify-content: center
		&:hover
			opacity: 1

		i
			font-size: 50px
			color: $blue

.icon-slider__name
	display: inline-block
	padding: 0 0 0 20px
	font-size: 16px
	color: #999
	font-family: "Montserrat" !important
			
.brands-list
	display: flex
	min-height: 100px
	justify-content: space-around
	align-items: center
	background: #fff

.brands-list__item
	position: relative
	display: flex
	justify-content: center
	width: 100%

	&::before
		content: ''
		position: absolute
		right: 0
		top: 0
		bottom: 0
		margin: auto
		width: 1px
		height: 47px
		background: #ccc
	&:last-child
		&::before
			display: none

.section
	padding: 50px 0 65px
	h2
		margin-bottom: 50px
.product-item
	position: relative
	padding: 30px 50px 30px
	background: #fff

	&::before
		content: ''
		position: absolute
		left: 0
		right: 0
		bottom: 0
		height: 6px
		width: 0
		transition: all .3s
		background: $blue
	&:hover
		&::before
			width: 100%
		

	&__img
		position: relative
		max-width: 264px
		height: 284px
		margin: 0 auto 22px

		a
			display: block
		img
			max-height: 100%

	h4
		height: 38px
		margin-bottom: 10px
		text-align: center

		a
			color: #404040


.product-item__info
	max-width: 264px
	height: 170px
	margin: 0 auto
	text-align: center

	.star-list
		margin: 0 0 10px
		text-align: center



.star-list
	list-style: none

	li
		display: inline-block
		margin-right: 6px

		&:last-child
			margin-right: 0

		.icon-star
			font-size: 14px
			color: #1B4E9D

			&__none
				color: #ABBEDB



.product-item__bottom
	position: relative
	height: 60px
	padding: 24px 0 0

.product-item__price--old
	position: absolute
	top: 0
	left: 0
	right: 0
	color: #8d8d8d
	text-decoration: line-through
	text-align: center

.product-item__price
	margin-left: -10px
	margin-right: -10px
	font-size: 24px
	font-weight: bold
	color: $blue

	a
		color: #A6A6A6

		&:hover
			color: $blue
			opacity: 1

	.like-btn
		background-color: transparent
		border: none
		outline: none
		color: #A6A6A6

		&.active
			color: $blue

.product-item__tag
	position: absolute
	top: -15px
	left: -30px
	width: 90px
	height: 90px
	display: flex
	align-items: center
	justify-content: center
	border-radius: 50%
	text-align: center
	color: #fff
	font-size: 12px
	font-weight: bold
	text-transform: uppercase
	z-index: 9

	&--yellow
		color: $blue
		background: $yellow

	&--blue
		color: #fff
		background: $blue

.product-list__slider
	margin-left: -10px
	margin-right: -10px
	.product-item
		margin-left: 10px
		margin-right: 10px

.banner
	position: relative

	img
		display: block

.banner-info
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0

	&__right
		text-align: right

	&__wrap
		width: 72%
		height: 100%
		display: inline-flex
		align-items: center
		justify-content: space-between
		text-align: left
		padding: 0 5%
	&__name
		font-size: 32px
		font-weight: bold
		color: #fff

	&__specifications
		font-size: 24px
		font-weight: bold
		color: #fff

	.btn
		padding-left: 55px
		padding-right: 55px

.about
	background: linear-gradient(to bottom, rgba(232, 237, 245, 1) 0%, rgba(232, 237, 245, 1) 35%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 1) 100%)

	&-blue
		height: 648px
		padding: 90px 0 0 140px
		background: url(../img/about-blue-bg.jpg) no-repeat
		background-size: cover

		h2
			margin-bottom: 35px
			color: #fff

		p
			margin-bottom: 35px
			font-size: 20px
			color: #fff

	.btn-play
		display: inline-block


	&-mission
		padding: 50px 0
		&__img
			width: 460px
		&__text
			width: calc(100% - 460px)

		h2
			margin-bottom: 35px

		p
			font-size: 20px
			color: #9A9A9A

.questions
	padding: 75px 0
	background: url(../img/questions-bg.jpg) no-repeat
	background-size: cover

	h2
		margin-bottom: 35px
		color: #fff

	p
		color: #fff

	&-left
		p
			font-size: 24px
			color: #fff

		.btn
			margin-top: 80px
	&-right
		p
			font-size: 20px

			&:last-of-type
				margin-bottom: 0

		strong
			color: #fff
			font-size: 20px

	ul
		margin-bottom: 25px
		list-style: none

		li
			position: relative
			padding: 0 0 0 15px
			font-size: 20px
			color: #fff

			&::before
				content: ''
				position: absolute
				left: 0
				top: 9px
				width: 8px
				height: 8px
				background: #fff
				border-radius: 50%

.reviews
	padding-bottom: 0

	&-top
		margin-bottom: 30px

		h2
			margin-bottom: 0

		.btn
			padding: 13px 40px 12px
			font-weight: bold
			opacity: .87

.reviews-slider__btn
	display: flex
	button
		width: 50px
		height: 50px
		border-radius: 50%
		border: 1px solid #628FC0
		font-size: 14px
		color:#628FC0
		display: flex
		align-items: center
		justify-content: center
		padding: 0
		outline: none
		background-color: transparent

		&:hover
			color: $blue
			border-color: $blue
			opacity: 1

		&.reviews-slider__prev
			margin-right: 10px

.slider-prev
	i
		transform: scale(-1, 1)
	

.reviews-slider
	background: #fff

.reviews-slider__item
	position: relative
	padding: 70px 90px

	.star-list
		margin-bottom: 30px
		li
			margin-left: 5px

			i
				font-size: 21px

	h4
		margin-bottom: 25px
		font-size: 20px
		font-weight: bold

	h5
		font-size: 16px
		font-weight: bold
		margin-bottom: 10px

	p
		margin-bottom: 20px
		font-size: 16px
		&:last-of-type
			margin-bottom: 0



.reviews-slider__date
	margin-bottom: 20px
	font-size: 14px

.share-btn
	display: flex
	align-items: center
	justify-content: center
	width: 40px
	height: 40px
	border-radius: 3px
	border: 1px solid #A4A4A4

	.icon-share
		font-size: 21px
		color: #9D9D9D


.reviews-like
	position: absolute
	right: 0
	bottom: 0
	button
		display: inline-flex
		align-items: flex-start
		justify-content: center
		padding: 0
		margin: 0
		height: 52px
		width: 86px
		background: #D8DDE5
		border: none
		outline: none
		cursor: pointer

		i
			font-size: 28px
			color: #014DA1

		&.reviews-like__down
			margin-left: -0.3em
			i
				transform: scale(1,-1)
		
		&.reviews-like__up
			
			border-radius: 10px 0 0 0

			

		&.active
			background: $blue

			i
				color: #fff

.articles
	h2
		a
			display: inline-block
			vertical-align: middle
			color: #3B3B3B

			&:hover
				&+.sprite
					left: 10px

		i
			position: relative
			font-size: 20px
			margin-left: 10px
			top: 2px


		&:hover
			i
				left: 10px

		

	.btn
		margin-top: 40px


	&-item
		display: block
		position: relative
		
		img
			display: block

		&:hover
			.articles-item__tag
				opacity: 1

		h3
			margin-bottom: 30px
			color: #3B3B3B

		
		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			padding: 100px 45px 75px

			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				border: 10px solid transparent
				border-bottom: 75px solid transparent
				transition: all .3s
			&:hover
				opacity: 1
				&::before
					border: 10px solid $blue
					border-bottom: 75px solid $blue

				.articles-vievs
					color: #fff
					.icon-eye
						color: #fff


			.articles-vievs
				position: absolute
				padding: 0 0 0 30px
				left: 45px
				bottom: 30px
				z-index: 10
				font-size: 16px
				
				.icon-eye
					position: absolute
					left: 0
					top: 0
					font-size: 21px
					color: #999999





.articles-item__tag
	opacity: 0
	position: absolute
	left: 45px
	top: 10px
	padding: 12px 50px
	background: $blue
	font-size: 14px
	text-transform: uppercase
	color: #fff
	border-radius: 0 0 6px 6px

	&:hover
		opacity: 1
		color: #fff
		color: #fff

.articles-item__wrap
	height: 100%
	display: flex
	justify-content: space-between
	flex-direction: column

	.articles-item
		height: 48%
		overflow: hidden

	.articles-item__overlay
		padding-top: 60px

.row-eq-height
	display: flex

footer
	padding: 55px 0 0
	background: $blue

.footer-wrap
	align-items: flex-start
	padding-bottom: 40px

.footer-item
	color: #fff

	h4
		margin-bottom: 25px
		color: #fff

	&__links
		h4
			position: relative
			padding: 0 0 26px
			margin-bottom: 20px

			&::before
				content: ''
				position: absolute
				left: 0
				bottom: 0
				height: 3px
				width: 43px
				background: $yellow

		ul
			list-style: none

			li
				a
					color: #fff
	.soc-btn
		li
			margin-right: 20px

			a
				font-size: 22px

				.icon-vk
					font-size: 26px

			&:last-child
				margin-right: 0

.scroll-top
	width: 38px
	height: 38px
	display: flex
	align-items: center
	justify-content: center
	border: 1px solid #fff
	border-radius: 50%
	color: #fff
	font-size: 16px

	&:hover, &:focus
		color: #fff

	.icon-next
		transform: rotate(-90deg)





.footer-bottom
	padding: 30px 0
	background: #0D2750

	p
		margin: 0
		font-size: 14px
		color: #fff

		a
			color: #fff

	&__left
		display: flex
		align-items: center
		justify-content: center

.footer-payment
	padding: 0 0 0 70px

	>*
		display: inline-block
		margin-left: 15px
		vertical-align: middle
		color: #fff

.footer-dev
	display: flex
	color: #fff
	span, img
		display: inline-block
	span
		padding-right: 10px

	&:hover
		color: #fff



















































.breadcrumbs
	margin: 30px 0 20px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 16px
		color: #B0B0B0

		+ li::before
			content: "/"
			padding: 0 8px 0 3px
			font-size: 14px
			color: #B0B0B0

		a
			position: relative
			color: #828282

.section-inner
	padding: 0 0 80px

	h2, h1
		margin-bottom: 35px

.action
	&-top
		margin-bottom: 35px


.action-filter
	list-style: none

	li
		display: inline-block
		margin-right: 15px

		&:last-child
			margin-right: 0

		a
			display: block
			padding: 10px 35px 10px
			font-size: 14px
			color: #404040
			background: #fff
			border-radius: 4px

.action-select, .select-filter
	display: flex
	align-items: center
	justify-content: center

	.jq-selectbox__select
		font-size: 14px
		color: #828282
		font-weight: bold

	.jq-selectbox__select-text
		position: relative
		padding: 0 14px 0 0

		&::after
			content: '\e922'
			position: absolute
			right: 1px
			top: 5px
			font-family: "icomoon"
			color: #828282
			font-size: 8px
			transform: rotate(90deg)

	.jq-selectbox__dropdown
		top: 25px !important
		left: -28px !important
		z-index: 999
		min-width: 180px

		ul
			background: #fff
			li
				padding: 8px 20px
				border-bottom: 1px solid #ccc


.action-wrap
	margin-left: -7px
	margin-right: -7px

	[class^="col"]
		padding-left: 7px
		padding-right: 7px

.action-item
	margin-bottom: 25px
	background: #fff

	&__img
		position: relative

		.product-item__tag
			left: auto
			right: 50px
			top: 40px
	&__text
		padding: 35px 40px

		h3
			height: 40px
			font-size: 20px

		p
			height: 100px
			margin: 0
			color: #8D8D8D

	&__term
		margin-bottom: 20px
		color: #8D8D8D

	&__view
		position: relative
		padding: 0 0 0 30px
		&::before
			position: absolute
			left: 0
			top: 2px


.pagination-list
	margin: 20px 0 75px
	list-style: none
	text-align: center

	li
		display: inline-block
		vertical-align: middle

		a
			display: flex
			width: 42px
			height: 42px
			align-items: center
			justify-content: center
			font-size: 16px
			font-weight: bold
			color: #8D8D8D
			border-radius: 50%



		&.active
			a
				background: #0d2750
				color: #fff


.pagination-list .pagination-list__first,.pagination-list .pagination-list__last
	margin: 0 10px
	a
		font-family: serif
		font-size: 30px
		transform: scale(.5, 1)
		
.subscription
	padding: 75px 0
	background: #fff
	border-top: 6px solid $blue

	&-form
		position: relative
		display: block
		padding: 0 0 0 245px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 143px
			height: 143px
			border: 4px solid $blue
			border-radius: 4px
			background-image: url(../img/mail-ic.png)
			background-position: center
			background-repeat: no-repeat

		h3
			margin-bottom: 25px
			font-size: 20px

.form-item
	position: relative
	padding: 10px 20px
	border: 1px solid #6794C7
	border-radius: 4px

	label
		display: block
		margin-bottom: 2px
		font-size: 12px
		color: #1b4e9d

	input
		width: 100%
		border: none
		outline: none
		font-size: 16px
		background-color: transparent

	textarea
		width: 100%
		font-size: 16px
		border: none
		outline: none
		resize: none
		overflow-x: hidden

	.jq-selectbox
		width: 100%

		&::after
			content: 'v'
			position: absolute
			right: 0
			top: 0
			color: $blue
			transform: scale(2, 1)
			font-size: 12px

	
		


	&.width-60
		width: 60%
	&.width-35
		width: 35%
	&.width-30
		width: 30%
	&.width-25
		width: 25%

	&.width-20
		width: 21%

	.jq-selectbox__select-text
		padding: 0 20px 0 0

	.jq-selectbox__dropdown
		padding: 10px
		border: 1px solid $blue
		background: #fff
		border-top: 0
		top: 34px !important
		left: -15px !important
		width: calc(100% + 30px) !important

		ul
			height: 120px
			li
				margin-bottom: 10px
				padding: 0 10px

				&:last-child
					margin-bottom: 0

	.form-item__error
		position: absolute
		left: 20px
		top: 30px

.delivery-address
	margin-bottom: 20px

	&:last-of-type
		margin-bottom: 0

.form-item__error
	&::before
		content: 'x'
		position: absolute
		left: 5px
		top: 29px
		width: 13px
		height: 13px
		-webkit-border-radius: 50%
		border-radius: 50%
		font-size: 11px
		text-align: center
		line-height: 10px
		color: #df2a16
		border: 1px solid #df2a16
		background-color: transparent
		outline: none

	&::after
		content: 'некорректные данные'
		position: absolute
		left: 20px
		top: 30px
		display: inline-block
		font-size: 10px
		color: #df2a16



	&.no-error
		&::before, &::after
			display: none
		














.form

	*::-webkit-input-placeholder 
		font-size: 16px
		color: #8D8D8D
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease

	*:-moz-placeholder 
		font-size: 16px
		color: #8D8D8D
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


	*::-moz-placeholder 
		font-size: 16px
		color: #8D8D8D
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


	*:-ms-input-placeholder 
		font-size: 16px
		color: #8D8D8D
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease

.subscription-form
	.form-item
		width: 300px
		margin-right: 30px
		margin-bottom: 20px
		&:last-of-type
			margin-right: 0

	.btn
		margin-left: 110px



.personal-data
	p
		margin: 0

input[type="checkbox"]
	display: none

	&+label
		position: relative
		display: inline-block
		padding: 0 0 0 30px
		cursor: pointer
		font-size: 14px
		line-height: normal
		color: #8D8D8D

		&::before
			content: ""
			display: block
			position: absolute
			top: 2px
			left: 0
			width: 15px
			height: 15px
			border: 1px solid #C1CFE4

		a
			color: #8D8D8D
			text-decoration: underline

		

	&:checked 

		&+label
			

			&::after
				content: ''
				position: absolute
				left: 3px
				top: 5px
				width: 9px
				height: 9px
				background: #1B4E9D

.section-inner + .questions
	margin-bottom: 40px

.action-detailed

	.breadcrumbs
		text-align: center
	h2, h1
		text-align: center

article
	padding: 50px 150px
	background: #fff

	h3
		margin-bottom: 30px
		font-size: 20px

	p
		font-size: 16px
		margin-bottom: 20px



.article-img
	margin-bottom: 25px

	img
		display: block
		margin: 0 auto 25px
	
	.btn-blue__transparent
		padding: 15px 40px 13px
		border-color: #A1BDDC
		color: #8DA3CA

		&:hover, &:focus
			color: $blue
			border-color: $blue

.article-share
	margin-top: 40px
	.soc-btn
		a
			display: flex
			align-items: center
			justify-content: center
			width: 40px
			height: 40px
			border: 1px solid #A1A1A1
			border-radius: 4px
			color: #A1A1A1
			font-size: 22px

			.icon-vk
				font-size: 24px

.action-wrap + .subscription
	margin-top: 30px





.order


.order-header
	margin-bottom: 35px
	.btn-blue__transparent
		padding: 8px 30px 8px
		font-size: 14px
		font-weight: bold
		color: #8399C2
		border-color: #A0B2D0
		opacity: 1

		&:hover, &:focus
			color: $blue
			border-color: $blue

.order-item
	padding: 35px 40px 40px
	margin-bottom: 30px
	background: #fff



	&__block
		margin-bottom: 25px

		&:last-of-type
			margin-bottom: 0

		h3
			margin-bottom: 25px
			font-size: 20px
			color: #404040

		&.divider
			padding: 0 0 30px
			border-bottom: 1px solid #CCCCCC

		.form-item
			margin-right: 30px
			&:last-of-type
				margin-right: 0

		.btn-blue__transparent
			padding: 15px 40px 13px
			font-weight: bold
			color: #416DAF
			border-color: #A1BDDC
			opacity: 1

			&.active, &:hover
				color: #47546F
				border-color: #0D2750
				box-shadow: none


		.left-align
			.btn
				margin-right: 30px

				&:last-of-type
					margin-right: 0

		p
			margin: 15px 0 0
			font-size: 14px
			color: #8D8D8D

.get-goods

	&__item
		display: flex
		align-items: center
		justify-content: center
		width: 48%
		height: 120px
		border: 1px solid $blue
		cursor: pointer
		opacity: .7
		transition: all .3s

		i
			color: $blue
			font-size: 40px

		&.active
			background: #e8edf5
			border-color: #e8edf5
			opacity: 1

		&:hover
			opacity: 1



	&__text
		padding: 0 0 0 30px

		h4
			font-size: 16px
		span
			font-size: 16px

.order-item__header
	margin-bottom: 20px
	h3
		margin-bottom: 0



h3.order-item__toggler
	position: relative
	padding: 0 20px 0 0
	margin: 0
	display: inline-block
	cursor: pointer
	&::after
		content: 'v'
		position: absolute
		right: 0
		top: 5px
		transform: scale(2, 1)
		font-size: 12px
		font-weight: normal

	&.active
		&::after
			content: '^'
			font-size: 16px
			top: 4px
		&+.order-item__table
			display: table
	
.order-item__table
	display: none
	margin-top: 25px
	width: 100%
	border-collapse: collapse

	tr
		border-bottom: 1px solid #ccc

		&:last-child
			border: none

			td
				padding-bottom: 0

		td
			padding: 20px 0
			font-size: 16px
			font-weight: bold
			color: #404040

.order-item__total
	border-top: 6px solid $blue

	.blue-btn
		display: block
		width: 360px
		margin: 20px auto 0

	.order-item__header
		margin-bottom: 0

.order-item__total--price
	font-size: 32px
	font-weight: bold
	color: $blue

.blue-btn
	background-color: $blue
	color: #fff
	&:hover, &:focus
		background-color: $blue
		color: #fff

.order-item__form
	min-height: 600px
	display: flex
	align-items: center
	justify-content: center
	padding: 50px 0

	.justify-align
		align-items: flex-start

.order-item__block--form
	position: relative

	h3
		position: relative
		padding: 0 0 20px
		margin-bottom: 10px
		font-size: 20px

		&::before
			content: ''
			position: absolute
			left: 0
			bottom: 0
			height: 3px
			width: 43px
			background: #ffdd00

	p
		margin-bottom: 30px
		font-size: 16px


.order-item__form--close
	position: absolute
	right: 0
	top: 0
	padding: 0
	font-size: 54px
	line-height: 25px
	background-color: transparent
	border: none
	outline: none
	font-family: serif
	color: #A1A1A1

.order-item__form--icon
	width: 143px
	height: 143px
	display: flex
	align-items: center
	justify-content: center
	border: 3px solid $blue
	border-radius: 4px

.order-item__form--info
	padding: 0 0 0 50px

	.form-item	
		margin-bottom: 30px






.cabinet

	&-sidebar
		padding: 35px 45px
		background: #fff

.user-avatar
	margin-bottom: 30px
	&__img
		width: 90px
		height: 90px
		display: flex
		align-items: center
		justify-content: center
		border: 6px solid #E8EDF5
		border-radius: 50%
		overflow: hidden

		img
			display: block
			margin: 0 auto
	&__info
		padding: 0 0 0 30px
		h3
			margin-bottom: 5px
			font-size: 20px
			color: #404040



.user-menu
	list-style: none
	
	li
		position: relative
		display: block
		a
			display: flex
			height: 100px
			align-items: center
			justify-content: center
			margin-bottom: 12px
			border: 1px solid #A1BDDC
			border-radius: 4px
			transition: all .3s
			font-size: 20px
			color: $blue
			font-weight: bold

			&.active, &:hover
				background: #E8EDF5
				border-color: #E8EDF5
				color: #3A69AD
				opacity: 1

	&__count
		position: absolute
		left: 15px
		top: 15px
		display: flex
		align-items: center
		justify-content: center
		width: 26px
		height: 26px
		border-radius: 50%
		background: $blue
		font-size: 14px
		color: #fff
		font-weight: bold

.user-data
	padding: 45px 120px 45px
	background: #fff
	

	&__row
		&:last-of-type
			border-bottom: 1px solid #ccc

			.user-data__item
				margin-bottom: 0


	h3
		margin-bottom: 30px
		font-size: 20px
		color: #404040

	&__item
		position: relative
		padding-bottom: 30px
		margin-bottom: 20px
		width: 30%

		.form-item
			position: relative
			width: 100%
			padding-right: 50px

			input
				color: #8D8D8D



.form-item__button
	position: absolute
	padding: 0
	right: 20px
	top: 15px
	width: 29px
	height: 29px
	border: 1px solid #6794C7
	border-radius: 50%
	background-color: transparent
	outline: none
	
	i
		color: #6794C7
		font-size: 13px

.form-item__text
	position: absolute
	left: 0
	bottom: -22px
	font-size: 12px
	color: #8D8D8D

.user-data__address
	position: relative

	h3
		margin: 0
		font-size: 20px
		color: #404040

	.btn
		padding: 12px 30px 11px
		margin-top: 25px
		font-size: 12px

	&.active
		.user-data__address--close
			display: block
		.user-data__address--wrap
			display: block
		.user-data__address-add
			display: none

		.jq-selectbox__select-text
			width: 100% !important
	
.user-data__address--close
	display: none
	position: absolute
	right: 0
	top: 0
	padding: 0
	background-color: transparent
	border: none
	outline: none

	i
		font-size: 18px
		color: #A1A1A1

.user-data__address--wrap
	display: none
	margin-top: 30px

.user-data__address--list
	margin-top: 30px
	list-style: none
	counter-reset: counter

	li
		position: relative
		display: flex
		align-items: center
		padding: 18px 30px 18px 90px
		counter-increment: counter
		font-size: 16px

		&:nth-child(odd)
			background-color: #E8EDF5
		&:last-child
			border-bottom: 1px solid #ccc

		&::before
			content: counter(counter)
			position: absolute
			left: 30px
			top: 18px
			display: flex
			align-items: center
			justify-content: center
			width: 29px
			height: 29px
			border: 1px solid #6794C7
			border-radius: 50%
			font-size: 16px
			color: #6794C7

		p
			padding: 0 40px 0 0
			font-size: 16px
			margin: 0

		button
			padding: 0
			width: 29px
			height: 29px
			border: 1px solid #6794C7
			border-radius: 50%
			background-color: transparent
			outline: none

			i
				color: #6794C7
				font-size: 13px


.user-cashback
	h3
		margin-bottom: 0

	&__top
		margin-bottom: 20px

.cashback-tab, .order-item__tab
	display: flex
	a
		display: inline-block
		padding: 12px 20px 12px
		min-width: 148px
		text-align: center
		background-color: transparent
		border: 1px solid #A1BDDC
		color: #93A3C8
		font-size: 14px
		font-weight: bold
		text-transform: uppercase

		&.active
			background: #E8EDF5
			border-color: #E8EDF5
			color: $blue

		&:first-child
			border-radius: 20px 0 0 20px

		&:last-child
			border-radius: 0 20px 20px 0


.user-cashback__additional
	.btn
		padding: 15px 40px 13px
		margin-bottom: 40px
		font-weight: bold
		text-transform: uppercase

.user-table
	width: 100%
	margin-bottom: 30px
	border-collapse: collapse

	tr
		border-bottom: 1px solid #ccc
		td
			padding: 30px 0
			font-size: 16px
			color: #404040
			vertical-align: middle
			text-align: center

			&:first-child
				text-align: left

			&:last-child
				text-align: right

		&:first-child
			border-top: 6px solid #014DA1

			td
				font-size: 14px
				color: #8D8D8D


.color-blue
	color: $blue

.info-block

.info-block__item
	padding: 0 0 0 28px
	&--header
		position: relative
		min-height: 50px

		i
			position: absolute
			left: -40px
			top: 0
			font-size: 25px
			color: #014DA1

.tabs-item
	display: none

	&.active
		display: block


.product-table
	display: table
	list-style: none
	width: 100%
	border-collapse: collapse

	> li
		display: table-row
		border-top: 1px solid #ccc

		&:last-child
			border-bottom: 1px solid #ccc

		>*
			display: table-cell
			padding: 25px 0
			vertical-align: middle

	.btn-grey
		padding-left: 25px
		padding-right: 25px
		font-size: 14px

.product-table__name
	padding: 0 0 0 30px

	span
		display: block
		margin-bottom: 5px

	h3
		margin-bottom: 0

.product-table__block
	width: 33%

	&.width-30
		width: 30%
	&.width-23
		width: 23%
	&.width-40
		width: 40%

	.btn-cart
		margin-right: 30px
.product-table__price
	padding: 0 30px
	span
		display: block
		margin-bottom: 5px
		font-size: 16px
		text-decoration: line-through
		color: #8D8D8D

	strong
		font-size: 24px
		font-weight: bold
		color: $blue



.btn-cart
	width: 40px
	height: 40px
	display: flex
	align-items: center
	justify-content: center
	outline: none
	background-color: transparent
	border-radius: 4px
	border: 1px solid #A1A1A1
	color: #A1A1A1
	font-size: 23px

.clear-btn
	width: 38px
	height: 38px
	display: flex
	align-items: center
	justify-content: center
	outline: none
	background-color: transparent
	border-radius: 50%
	border: 1px solid #A1BDDC
	color: #A1BDDC
	font-size: 18px

.cart
	h1
		margin-bottom: 20px

	>.container > .row
		margin-left: -10px
		margin-right: -10px

		>[class^="col"]
			padding-right: 10px
			padding-left: 10px

	.product-table
		margin-bottom: 15px
		padding: 0 30px
		background: #fff

		li
			border: none

			.product-table__block
				&:first-child
					padding-left: 30px
				&:last-child
					padding-left: 30px
					padding-right: 30px

			.product-table__price
				padding: 0 5px

			.btn-grey
				padding: 10px 20px 10px

.cart-top
	margin-bottom: 35px
	.btn
		font-weight: bold

	h1
		margin-bottom: 0


.plus-minus
	width: 120px


	button
		padding: 0
		border: none
		outline: none
		background-color: transparent
		span
			width: 38px
			height: 38px
			display: flex
			align-items: center
			justify-content: center
			outline: none
			background-color: transparent
			border-radius: 50%
			border: 1px solid #A1BDDC
			color: #A1BDDC
			font-size: 16px

	input
		width: 35px
		border: none
		outline: none
		background-color: transparent
		text-align: center
		font-size: 24px
		color: #A1BDDC

.checkout-form
	padding: 20px 50px
	margin-bottom: 80px
	border: 10px solid $blue
	background: #fff

.checkout-form__cart
	font-size: 20px
	font-weight: bold
	color: #8D8D8D

.checkout-old
	color: #B5B5B5
	text-decoration: line-through

.checkout-price
	color: #404040
	font-size: 32px

.cart-cashback
	display: flex
	padding: 40px 0
	margin-bottom: 15px
	background: #fff
	
	&__item
		width: 50%
		padding: 0 8px
		text-align: center

		&:first-child
			position: relative
			&::before
				content: ''
				width: 1px
				height: 116px
				position: absolute
				right: 0
				top: 0
				bottom: 0
				margin: auto
				background: #F2F2F2

		h4
			position: relative
			padding: 0 0 20px
			margin-bottom: 10px
			text-align: center
			font-size: 15px
			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 0
				height: 3px
				width: 43px
				margin: 0 auto
				background: #ffdd00

		strong
			font-size: 30px
			color: $blue

.cart-right__block
	margin-bottom: 15px
	padding: 40px 40px 30px
	background: #fff

	h4
		margin-bottom: 15px
		font-size: 15px

	p
		margin-bottom: 15px
		font-size: 15px
		color: #8D8D8D

	a
		position: relative
		padding: 0 15px 0 0
		font-size: 15px
		color: #8D8D8D

		&::after
			content: '\e922'
			position: absolute
			right: 0
			top: 6px
			font-family: "icomoon"
			font-size: 10px


.catalog
	h1
		margin-bottom: 0
	&-top
		margin-bottom: 30px
.tag-list
	margin-bottom: 25px
	list-style: none

	li
		display: inline-block

		a
			display: block
			padding:  10px 25px
			background: #fff
			margin-bottom: 15px
			font-size: 14px
			color: #404040
			border-radius: 6px

		&.tag-list__hidden
			display: none

	&.active
		display: block
		li.tag-list__hidden
			display: inline-block


.catalog-wrap
	display: flex
	align-items: flex-start
	justify-content: space-between
	margin-left: -5px
	margin-right: -5px
	

.sidebar
	width: 370px
	padding-left: 5px
	padding-right: 5px
	

	&-item
		position: relative
		padding: 25px 30px
		background: #fff

		&::after
			content: ''
			position: absolute
			left: 0
			bottom: 0
			right: 0

			margin: 0 auto
			height: 1px
			width: 306px
			background: #ccc
	
		&__header
			position: relative
			margin-bottom: 20px
			font-size: 14px
			font-weight: bold
			color: #404040
			cursor: pointer

			&::after
				content: '\e922'
				position: absolute
				right: 0
				top: 6px
				font-family: "icomoon"
				font-size: 12px
				color: #404040
				transform: rotate(90deg)
		&.active
			.sidebar-item__header
				&::after
					transform: rotate(-90deg)


#slider-range
	margin: 0 auto 0
	width: auto

.amount-wrapper
	position: relative
	margin: 11px 0 0 0
	padding: 0 10px
	input
		display: inline-block
		width: 94px
		height: 36px
		outline: none
		font-size: 14px
		color: #BEBEBE
		border: 1px solid #C1CFE4
		text-align: center
	span
		padding-right: 10px
		color: #404040
		font-size: 12px

	.ui-widget-header
		border: none
		background: #000

.ui-widget-content
	height: 7px
	border-radius: 10px
	background: #E8EDF5
	border: none

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 13px
	height: 13px
	border-radius: 50%
	background: #0D2750

.ui-slider-horizontal
	.ui-slider-range
		height: 7px
		border-radius: 0
		background: #1B4E9D
	.ui-slider-handle
		outline: none
		top: -3px
		margin-left: -.7em
		cursor: pointer

.price-filter__value
	padding: 10px 0 0
	font-size: 10px
	color: #BEBEBE

.check-list
	list-style: none

	li
		margin-bottom: 5px

	label
		color: #404040

.color-list
	padding: 15px 0 0 0
	list-style: none
	li
		margin: 0 0 10px 0
		display: inline-block

		input[type="radio"]
			display: none
			+ label
				position: relative
				display: inline-block
				cursor: pointer
				> span
					display: inline-block
					position: relative
					top: 1px
					margin: 0 9px 0 0
					width: 19px
					height: 19px
					border-radius: 50%
					vertical-align: baseline
			&:checked + label > span
				position: relative
				&::before
					content: ''
					position: absolute
					left: -5px
					top: -5px
					right: -5px
					bottom: -5px
					border: 6px solid #D8DDE5
					border-radius: 50%

.found-products
	padding: 30px 0
	text-align: center
	background: #fff

	strong
		display: block
		margin-bottom: 20px
		font-size: 14px
		color: #404040

	.btn
		padding: 12px 40px 10px
		min-width: 196px
		font-size: 12px


.catalog-content
	width: calc(100% - 370px)
	padding-left: 5px
	padding-right: 5px

	> .row
		margin-left: -5px
		margin-right: -5px

		> [class^="col"]
			padding-left: 5px
			padding-right: 5px


	.product-item
		padding: 30px 40px 30px
		margin-bottom: 15px

.banner-vertical
	margin-bottom: 15px
	.banner-info__wrap
		justify-content: center
		flex-direction: column
	.banner-info__name
		text-align: center
	.banner-vertical__bottom
		padding: 40px 0 0
		display: flex
		align-items: center
		>*
			margin: 0 20px

.advantages-list
	background: #fff

	[class^="col"]

		&:last-child
			.advantages-list__item
				&::before
					display: none

	&__item
		position: relative
		padding: 70px 40px
		height: 100%
		
		&::before
			content: ''
			position: absolute
			right: 0
			top: 0
			bottom: 0
			width: 1px
			height: 150px
			margin: auto
			background: #ccc

		

		h3
			position: relative
			padding: 0 0 15px
			margin-bottom: 15px
			font-size: 20px

			&::before
				content: ''
				position: absolute
				left: 0
				bottom: 0
				height: 3px
				width: 43px
				background: #ffdd00

		p
			margin-bottom: 0

	&__icon
		height: 85px
		color: $blue
		font-size: 56px

.order-item__block--top
	margin-bottom: 20px
	h3
		margin-bottom: 0
		font-size: 20px
		color: #404040

.store-table
	width: 100%
	border-collapse: collapse

	tr
		td
			padding: 25px 0
			border-top: 1px solid #ccc
			font-size: 16px
			color: #404040

			&:last-child
				text-align: right

			input[type="checkbox"] + label
				font-size: 16px
				color: #404040

.instock
	position: relative
	display: inline-block
	padding: 0 0 0 30px
	font-size: 14px
	color: #8D8D8D

	&::before
		content: '\e90a'
		font-size: 10px
		color: #fff
		position: absolute
		left: 0
		top: 0
		width: 17px
		height: 17px
		display: flex
		align-items: center
		justify-content: center
		background: #1B4E9D
		border-radius: 50%
		font-family: "icomoon"

	&.instock-not
		&::before
			content: '\e91d'
			background: #AABDD9
			font-size: 5px

.store-form
	position: relative
	display: block
	padding: 0 0 10px
	border-bottom: 1px solid #ccc
	

	input
		width: 100%
		padding: 20px 26px
		border: 1px solid #6794C7
		border-radius: 4px
		outline: none

	button
		padding: 0
		background-color: transparent
		border: none
		outline: none

		i
			position: absolute
			right: 30px
			top: 25px
			color: #2E5DA5
			font-size: 15px
			transform: scale(-1, 1)

.select-store__wrap
	padding: 30px 0 0

.select-store
	align-items: center
	
	.form-item
		max-width: 350px

	p
		margin: 0
		padding: 0 0 0 40px

.map-wrap
	position: relative
	margin-left: -40px
	margin-right: -40px
	margin-bottom: -40px
	
#googleMap
	height: 500px
	width: 100%
	
.map-strore
	position: absolute
	width: 40%	
	padding: 30px 0 0
	right: 40px
	top: 0
	bottom: 0
	height: calc(100% - 60px)
	border-top: 6px solid #014DA1
	background: #fff
	z-index: 10

	.scroll-box
		height: 300px
		overflow-y: scroll

.map-strore__top
	padding: 0 30px

	.form-item
		margin-bottom: 10px

	p
		margin: 0 0 20px
		font-size: 14px

.map-strore__item
	padding: 25px 30px
	background: #fff

	&.active
		background: #E8EDF5

	input[type="checkbox"] + label
		font-size: 16px







.cart-section
	
	.product-table
		margin-bottom: 15px
		background: #fff

		li
			border: none

			.product-table__block
				&:first-child
					padding-left: 30px
				&:last-child
					padding-left: 30px
					padding-right: 30px


		.product-table__block.width-40
			width: 32%
			padding-right: 30px

.cart-wrap
	padding: 65px 70px
	margin-bottom: 60px
	background: #fff

.product-cart
	align-items: flex-start

.product-cart__slider
	max-width: 476px
	width: 40%
	&--item
		border-bottom: 10px solid #1B4E9D

	.slick-dots
		bottom: 25px

		li
			width: 14px
			height: 14px
			border-radius: 50%
			background-color: transparent
			border: 2px solid #B2B4BB

			&.slick-active
				background: #B2B4BB

			button
				padding: 0
				background-color: transparent
				border: none
				outline: none
				

				&::before
					display: none

.product-cart__info
	position: relative
	width: 60%
	padding: 0 60px 0 70px

	&--btn
		position: absolute
		right: 0
		top: 0

		button
			width: 40px
			height: 40px
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 15px
			border-radius: 4px
			background-color: transparent
			outline: none
			border: 1px solid #A1A1A1

			i
				font-size: 20px
				color: #A1A1A1

	h2
		margin-bottom: 15px
		font-size: 24px

	p
		margin-bottom: 22px
		font-size: 14px
		color: #8D8D8D

	.instock
		margin-bottom: 25px
		font-weight: bold
		color: #404040

	.plus-minus
		margin-bottom: 30px



.like-btn
	&.active
		i::before
			content: '\e917'

.product-ratings
	margin-bottom: 28px

	&__links
		padding: 0 0 0 20px
		color: #8D8D8D

		a
			color: #8D8D8D

.product-cart__price
	margin-bottom: 20px
	span
		display: block
		color: #8D8D8D
		text-decoration: line-through

	strong
		display: block
		font-size: 32px
		color: #1B4E9D


.product-cart__color
	margin-bottom: 20px
	strong
		font-size: 14px
		color: #404040

.product-cart__btn
	.btn
		padding-left: 50px
		padding-right: 50px
		min-height: 50px
		display: flex
		align-items: center
		justify-content: center
	.btn-blue__transparent
		font-size: 14px
		text-transform: uppercase
		font-weight: bold

.product-cart__description
	padding: 40px 0 0

	h2
		padding-bottom: 40px
		border-bottom: 6px solid $blue

.product-cart__description--text
	padding: 50px 0 100px

	h3
		margin-bottom: 40px
		color: #404040

.cart-sidebar
	padding: 0 0 0 40px
	.cart-cashback
		padding: 0
		margin: 0
		background: #014DA1

		&__item
			min-height: 146px
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column

			h4
				font-size: 16px
				color: #E9EDF4
			strong
				font-size: 32px
				color: #fff

			a
				display: inline-block
				text-decoration: underline
				font-weight: bold
				font-size: 16px
				color: #E9EDF4

			&:first-child
				&::before
					background: #3471B4
					height: 86px

.cart-sidebar__advantages
	display: flex
	border: 1px solid #ccc
	border-top: none

	&--icon
		display: flex
		align-items: center
		justify-content: center
		width: 150px

		i
			font-size: 50px
			color: $blue
	&--text
		width: calc(100% - 150px)
		padding: 25px 10px 25px 0

		h4
			margin-bottom: 10px

		p
			color: #8D8D8D
			margin: 0


.recommend
	position: relative
	padding: 35px 0 0
	h2
		margin-bottom: 35px

	&-cashback
		position: absolute
		right: 0
		bottom: 0
		padding: 10px 30px
		border: 1px solid #ABBEDB
		border-radius: 20px 0 0 0
		color: #93A3C8

		&:hover, &:focus 
			color: $blue
			opacity: 1

	&-item
		display: flex
		padding: 20px 0
		margin-bottom: 14px
		border: 1px solid #ccc
		background: #fff

		&__img
			display: flex
			align-items: center
			justify-content: center
			width: 170px
		&__text
			width: calc(100% - 170px)
			padding: 0 10px  0 0

			h5
				margin-bottom: 10px
			h4
				margin-bottom: 15px
				color: #404040

		&__price
			span
				display: block
				color: #8D8D8D
				text-decoration: line-through
			strong
				display: block
				font-size: 24px
				color: $blue

.accessories

	&-box
		display: flex
		align-items: center
		justify-content: center
		padding: 30px 0
		border: 10px solid $blue

	&-wrap
	
	&-item
		position: relative
		padding: 0 130px 0 0
		max-width: 210px
		text-align: center
		box-sizing: content-box

		&::before
			content: '+'
			position: absolute
			right: 60px
			top: 34%
			margin: auto
			font-size: 32px
			color: #899ABF
			font-weight: bold

		&:last-child
			&::before
				content: '='

		&__check
			text-align: center

			input[type="checkbox"] + label
				right: 5px
				padding: 0 0 15px
				color: transparent
				&::before
					width: 24px
					height: 24px
					border-width: 2px

			input[type="checkbox"]:checked + label
				&::after
					content: '\e90a'
					left: 6px
					top: 8px
					color: #014DA1
					font-size: 12px
					font-family: "icomoon"
					background-color: transparent

		&__img
			margin-bottom: 10px
		h5
			margin-bottom: 5px

.accessories-item__wrap
	display: flex

.accessories-cashbak
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

	strong
		display: inline-block
		margin: 40px 0 30px
		font-size: 24px
		color: #3B3B3B

.ratings-diagram__item
	margin-right: 100px
	&:last-child
		margin-right: 0

.ratings-diagram__wrap
	margin-bottom: 30px
	.btn
		padding: 15px 50px 13px
		font-size: 14px
		font-weight: bold
		background: #D8DDE5

.ratings-diagram__text
	padding: 0 0 0 30px

	a, span
		font-size: 14px
		color: #3B3B3B


.circles-text
	font-size: 32px
	font-weight: bold
	color: #3B3B3B

.reviews-block
	padding: 30px 0 0
	border-top: 25px solid $blue
	.star-list li .icon-star
		font-size: 21px

.reviews-block__item
	margin-bottom: 30px

.reviews-block__left
	.star-list
		margin-bottom: 30px

	h3
		margin-bottom: 25px
		font-size: 20px

	.icon-share
		font-size: 21px
		color: #9D9D9D

	.reviews-date
		display: block
		margin-bottom: 25px
		font-size: 14px
		color: #828282

.reviews-block__right
	position: relative
	padding: 60px 150px 35px
	background: #fff

	h4
		margin-bottom: 10px
		font-size: 20px

	p
		margin-bottom: 25px


.ratings
	.btn
		padding: 15px 50px 13px
		font-weight: bold
		font-size: 14px
		text-transform: uppercase

.recently
	padding-top: 0

.recently-slider
	margin-left: -10px
	margin-right: -10px
	
	.recommend-item
		position: relative
		margin-left: 10px
		margin-right: 10px
		margin-bottom: 0
		border: none

.product-block
	display: flex
	margin-bottom: 80px
	padding: 30px
	background: #fff

	&__main
		width: 50%
		display: flex
		align-items: flex-start
		justify-content: flex-start



	&__info
		width: 27%
		padding: 0 60px
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		border-left: 1px solid #ccc
		border-right: 1px solid #ccc
		list-style: none

		li
			position: relative
			width: 100%
			padding: 0 0 0 35px
			margin-bottom: 25px

			&::before
				position: absolute
				left: 0
				top: 0
				font-size: 20px
				color: $blue

			&:last-child
				margin-bottom: 0

			strong
				color: #3F3F3F
				font-family: "Montserrat"
			span
				color: #8D8D8D
				font-family: "Montserrat"
				padding-left: 8px
			
			&.instock
				color: #3F3F3F
				font-size: 16px

				&::before
					font-size: 10px
					color: #fff

	&__cashback
		width: 23%
		text-align: center
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		h4
			position: relative
			padding: 0 0 17px
			margin-bottom: 10px
			color: #404040
			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 0
				height: 3px
				width: 43px
				margin: 0 auto
				background: #ffdd00

		strong
			display: block
			margin-bottom: 10px
			font-size: 32px
			color: $blue
		a	
			display: inline-block
			text-decoration: underline
			color: #404040
			font-size: 14px


.product-block__name
	padding: 0 0 0 60px

	h3
		margin-bottom: 30px
		color: #404040
	.left-align
		align-items: flex-end
.product-block__price
	padding: 0 30px 0 0
	
	span
		display: block
		margin-bottom: 5px
		color: #8D8D8D
		text-decoration: line-through
	strong
		display: block
		font-size: 32px
		color: #014da1


.user-orders__top
	margin-bottom: 25px

.user-orders__tab--nav
	display: inline-block
	margin-right: 65px
	font-size: 20px
	font-weight: bold
	color: #B8B8B8

	&:last-child
		margin-right: 0

	&.active
		color: #404040
	





.user-table__orders
	margin-bottom: 45px
	tr
		td
			span
				display: block

			>strong
				text-transform: uppercase
				color: $blue

			&.user-table__orders--list
				padding: 0

.user-table__orders--list
	position: relative
	max-width: 230px
	p
		padding: 20px 25px
		margin: 0
		font-size: 16px
		color: #404040

	.togger
		position: relative
		padding: 20px 35px 20px 25px
		cursor: pointer

		&::before
			content: '\e922'
			position: absolute
			right: 10px
			top: 24px
			font-family: "icomoon"
			font-size: 12px
			transform: rotate(90deg)

		&.active
			&::before
				transform: rotate(-90deg)

	.togger-body
		display: none
		position: absolute
		left: 0
		right: 0
		top: 80%
		border-top: 3px solid $blue
		border-left: 1px solid #ccc
		border-right: 1px solid #ccc
		border-bottom: 1px solid #ccc
		background: #fff
		z-index: 10

		p
			border-bottom: 1px solid #EEEEEE

			&:last-child
				border: none




.modal
	width: 830px
	padding: 0

	.fancybox-close-small
		top: 28px
		padding: 0
		right: 50px
		width: 56px
		height: 56px
		color: #5F8FC4


		&:hover
			color: #fff
			opacity: 1

	.tabs-wrapper
		

	.modal-body
		padding: 0

	.tabs-nav
		padding: 0 60px 0 0
		background: #014DA1
		text-align: center
		li
			display: inline-block
			a
				position: relative
				display: block
				padding: 40px 0
				margin-right: 40px
				margin-left: 40px
				font-size: 24px
				font-weight: bold
				color: #869DC7

				&.active
					color: #fff
					&::before
						content: ''
						position: absolute
						left: 0
						right: 0
						bottom: 0
						width: 100%
						height: 6px
						background: #FFDD00


				&:hover
					opacity: 1
					color: #fff

			&:last-child
				a
					margin-right: 0

.modal
	background: #fff

	h3
		position: relative
		display: block
		background: #014DA1
		text-align: center
		font-size: 24px
		font-weight: bold
		color: #fff

		span
			position: relative
			display: inline-block
			padding: 40px 0

			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 0
				width: 100%
				height: 6px
				background: #FFDD00

	.form
		width: 305px
		margin: 0 auto
		padding: 40px 0

	.form-item
		margin-bottom: 25px

	.send-news
		margin-top: -20px
		margin-bottom: 25px
		font-size: 12px

		input[type="checkbox"] + label
			padding: 0 0 0 20px

	.blue-btn
		width: 100%

.form-item__pass
	position: relative

.form-item__eye
	position: absolute
	right: 0
	top: -6px
	padding: 0
	color: #BABABA
	font-size: 18px
	z-index: 10
	background-color: transparent
	border: none
	outline: none

.form-item__bottom
	margin-top: -20px
	margin-bottom: 25px
	font-size: 12px

.personal-data__form
	font-size: 12px
	input[type="checkbox"] + label
			padding: 0 0 0 20px


.modal-bottom
	display: flex
	align-items: center
	justify-content: center
	padding: 40px 0
	border-top: 1px solid #ccc

	.soc-btn

		a
			display: flex
			align-items: center
			justify-content: center
			width: 40px
			height: 40px
			border: 1px solid #A1A1A1
			border-radius: 4px
			font-size: 26px
			color: #A1A1A1

			&:hover, &:focus
				color: #000
				opacity: 1

	strong
		display: inline-block
		padding: 0 30px 0 0



.sidebar-filter__btn
	display: none
	position: relative
	padding: 10px 50px 10px 20px
	font-size: 16px
	background: #fff
	outline: none
	border: none
	-webkit-border-radius: 6px
	border-radius: 6px
	cursor: pointer

	&::before
		content: '\e921'
		position: absolute
		font-family: "icomoon"
		font-size: 16px
		right: 20px
		top: 12px

	&.active
		&::before
			content: '\e90b'



.blog

	margin-left: -7px
	margin-right: -7px

	[class^="col"]
		padding-left: 7px
		padding-right: 7px

.show-more
	margin-top: 30px
	margin-bottom: 100px    

	i
		position: relative
		padding: 0 0 0 30px
		

		&::before
			position: absolute
			right: 0
			top: 0
			transform: rotate(90deg)

	&.active
		i
			&::before
				transform: rotate(-90deg)

.blog-item
	margin-bottom: 25px
	background: #fff

	&__img
		position: relative

	&__text
		padding: 35px 40px

		h3
			height: 40px
			font-size: 20px
			color: #404040

		p
			height: 100px
			margin: 0
			color: #8D8D8D

	&__date
		margin-bottom: 20px
		color: #8D8D8D

	&__view
		position: relative
		padding: 0 0 0 30px
		&::before
			position: absolute
			left: 0
			top: 2px

.blog-page
	.breadcrumbs
		text-align: center

	h1
		text-align: center

	article
		padding: 0 0 30px
		background-color: transparent

		h3
			font-size: 20px
			color: #3B3B3B

		p
			color: #000

		ul
			margin-bottom: 35px
			list-style: none

			li
				position: relative
				padding: 0 0 0 30px
				margin-bottom: 25px

				&::before
					content: ''
					position: absolute
					left: 0
					top: 6px
					width: 7px
					height: 7px
					background: $blue
					border-radius: 50%


	.about-mission
		padding: 50px 0 80px
		margin-bottom: 55px
		background: #fff

		&__img
			width: 40%
			padding: 0 120px 0 0
			text-align: right
		&__text
			width: 60%

			p
				max-width: 700px





	.article-share
		margin: 0

.article-date
	padding: 30px 0
	font-size: 16px
	color: #000

.article-img__double
	margin-bottom: 50px
	margin-left: -10px
	margin-right: -10px


	[class^='col']
		padding-left: 10px
		padding-right: 10px

.blockquote-left
	padding: 0 0 0 50px
	margin-bottom: 50px
	border-left: 16px solid #014DA1



.blockquote-center
	padding: 70px 0
	margin-bottom: 50px
	border-top: 6px solid $blue
	background: #fff
	text-align: center

	p
		margin-bottom: 35px
		font-size: 30px
		color: #000

	&__author
		position: relative
		display: inline-block
		padding: 20px 0 0
		font-size: 20px
		font-weight: bold
		color: #000

		&::before
			content: ''
			position: absolute
			left: 0
			right: 0
			margin: 0 auto
			top: 0
			width: 94px
			height: 1px
			background: #656565

.article-share__wrap
	margin-bottom: 50px

.article-view
	font-size: 16px
	color: #8E8E8E

	span
		display: inline-block
		padding: 0 0 0 10px
		vertical-align: middle

	i
		font-size: 20px
		vertical-align: middle



.news-arrows
	margin-bottom: 60px
	padding: 20px 0 35px
	border-top: 1px solid #8E8E8E

	>.justify-align
		align-items: flex-start

.news-arrows__btn
	position: relative
	top: -6px
	.icon
		display: flex
		align-items: center
		justify-content: center
		width: 33px
		height: 33px
		background: $blue
		font-size: 16px
		vertical-align: middle
		color: #fff
		border-radius: 50%


.news-arrows__left
	.news-arrows__btn
		transform: scale(-1, 1)

.news-arrows__text
	padding: 0 0 0 20px

.news-arrows__right
	.news-arrows__text
		padding: 0 20px 0 0 
		text-align: right

.news-arrows__text
	a
		display: block
		line-height: 24px
		font-size: 16px

		&.news-arrows__links
			color: $blue
			font-size: 16px
			text-transform: uppercase
			font-weight: bold

		&.news-arrows__popular
			color: #3B3B3B
			font-weight: bold
			font-size: 18px


.icon-block__wrap
	h3
		font-size: 20px
		margin-bottom: 40px
		color: #3B3B3B
		font-family: "Montserrat"

.icon-block
	padding: 30px 0 0

	>[class^="col"]:first-child
		.icon-block__item
			padding-left: 0
	>[class^="col"]:last-child
		.icon-block__item
			padding-right: 0

			&:before
				display: none

	&__item
		position: relative
		padding: 0 50px

		&::before
			content: ''
			position: absolute
			right: 0
			top: 40px
			width: 1px
			height: 150px
			background: #BEBEBE

		i
			display: inline-block
			margin-bottom: 30px
			font-size: 60px
			color: $blue

		h4
			position: relative
			padding: 0 0 15px
			margin: 0 0 10px
			font-size: 20px
			color: #3B3B3B
			font-family: "Montserrat"

			&:before
				content: ''
				position: absolute
				left: 0
				bottom: 0
				height: 3px
				width: 43px
				background: #ffdd00

		p
			font-size: 16px
			color: #828282
			font-family: "Montserrat"



.about-store
	padding: 70px 0 100px
	background: #fff

	.store-form 
		max-width: 350px
		border-bottom: none

	.store-table
		tr
			background: #F0F4F8
			border: none
			border-bottom: 15px solid #fff
			td:first-child
				font-size: 16px
				font-weight: bold
				color: #3C3D3E

			td:last-child
				text-align: right
			td
				vertical-align: middle
				padding-left: 50px
				padding-right: 50px
				border: none

	.map-strore
		width: 430px
		
		.store-form 
			width: 100%

	.map-wrap
		margin: 0



.store-table__time
	position: relative
	display: inline-block
	padding: 0 0 0 30px
	font-size: 16px
	
	&::before
		content: '\e93f'
		font-family: "icomoon"
		font-size: 21px
		color: $blue
		position: absolute
		left: 0
		top: -1px

.store-table__image
	display: inline-flex
	max-width: 390px
	img
		display: block
		margin: 0 10px
		border: 5px solid #fff


.numbers
	
	padding: 120px 0
	background: url(../img/numbers-bg.jpg) no-repeat center
	background-size: cover
	
	&-wrap
		display: flex
		align-items: flex-start
		justify-content: space-around

	&-item
		color: #fff
		strong
			position: relative
			display: inline-block
			font-size: 72px
			

			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				border-radius: 50%
				box-shadow: 0 0 100px #fff inset
				filter: blur(30px)

		span
			display: block
			font-size: 24px
			font-weight: bold



.uniqueness
	padding: 80px 0 200px
	background: #fff

	h3
		margin-bottom: 80px

	&-wrap
		display: flex
		align-items: flex-start
		justify-content: space-between
		max-width: 1450px
		margin: 0 auto

	&-item
		max-width: 390px

		img
			display: block
			margin-bottom: 35px

.about-blue__wrap
	max-width: 1450px
	margin: -110px auto 0




















































































@media only screen and (max-width: 1900px)
	.container
		max-width: 1280px
		margin: 0 auto
		padding-left: 30px
		padding-right: 30px

	.navbar-nav 
		> li 
			> a
				padding: 12px 20px

				&.dropdown-toggle::before
					right: 5px
					top: 13px
	.soc-btn 
		li 
			a
				font-size: 16px

				.icon-vk, .icon-youtube
					font-size: 20px

	.header-tel
		margin-left: 25px

	.catalog-submenu__body
		width: 420px

	.icon-menu__item
		padding: 10px 20px 9px

		i
			font-size: 34px
	.icon-menu__name
		height: 40px
		font-size: 12px

	.icon-slider__item 
		a 
			i
				font-size: 40px
	.icon-slider__name
		font-size: 12px

	.brands-list
		img
			max-width: 140px

	.questions-left p
		font-size: 20px

	.questions-right p
		font-size: 20px

		strong
			font-size: 16px

	.questions ul li
		font-size: 18px
		margin-bottom: 3px

		&::before
			width: 5px
			height: 5px
			top: 9px

	.main-products__slider--overlay
		padding: 50px 0 40px 70px

	.banner-info__name
		font-size: 24px

	.banner-info__specifications
		font-size: 20px
	
	.articles-item
		&__overlay 
			padding: 40px 20px 75px

			&:hover::before
				border: 6px solid #014da1
				border-bottom: 50px solid $blue

			h3
				font-size: 18px
				height: 50px
				margin-bottom: 0

			p
				font-size: 14px

			.articles-vievs
				left: 20px
				bottom: 17px
				z-index: 10
				font-size: 14px

				.icon-eye
					font-size: 17px

		&__tag
			padding: 4px 30px
			font-size: 12px
			top: 6px

		&__wrap
			.articles-item__overlay 
				padding: 40px 20px 75px
		
	.footer-item
		h4
			padding: 0 0 20px
			margin-bottom: 16px
			font-size: 14px

	.footer-item__links
		ul 
			li
				font-size: 14px
				a
					font-size: 14px



	.action-item__img .product-item__tag 
		right: 15px
		top: 10px

	.action-item__text
		padding: 15px 20px 15px

		h3
			font-size: 18px

		p
			font-size: 14px


	.action-item__term 
		margin-bottom: 10px
		font-size: 14px

	.subscription
		[class^="col"]
			width: 100%
			margin: 0
	.subscription-form
		margin: 0 80px
	

	.action-select
		padding-left: 30px



	.cabinet-sidebar 
		padding: 16px 20px
	.user-avatar__info
		max-width: 160px
		padding: 0 0 0 20px
		h3
			font-size: 16px
		span
			font-size: 14px

	.user-menu
		li 
			a
				height: 80px
				font-size: 16px
	.user-menu__count
		height: 20px
		width: 20px
		font-size: 10px


	.user-data 
		padding: 35px 50px 35px

	.form-item .form-item__error span
		font-size: 12px


	h4
		font-size: 14px
	.info-block__item
		p
			font-size: 12px

	.info-block__item--header 
		i
			font-size: 20px

			&.icon-delete
				font-size: 18px
	.user-table tr td
		padding: 20px 0
		font-size: 14px

	.product-table__block
		img
			max-width: 80px



	.product-table__name
		padding: 0 10px 0 15px
		span
			font-size: 12px
		h3
			font-size: 14px

	.product-table
		>li>*
			padding: 15px 0
		.btn-blue__transparent 
			font-size: 14px
			padding: 7px 25px 6px

		.btn-grey 
			padding: 12px 20px 10px
			font-size: 10px
		.clear-btn
			width: 30px
			height: 30px
			font-size: 14px
		.btn-cart
			width: 35px
			height: 35px
			font-size: 18px

	.product-table__price
		padding: 0 20px
		strong
			font-size: 18px

		span
			font-size: 14px

	.product-table__block .btn-cart 
		margin-right: 20px

	.cart-section 
		.product-table li .product-table__block:last-child 
			padding-left: 20px
			padding-right: 20px

		.product-table li .product-table__block:first-child 
			padding-left: 20px

		.product-table .product-table__block.width-40 
			padding-right: 20px
			width: 28%

		.plus-minus 
			width: 110px


		.product-table__name 
			h3 
		    	font-size: 13px
			span
				font-size: 10px	
		.product-table__price 
			padding: 0 15px

		.product-table__block.width-23
			width: 14%

	.cart-cashback__item 
		strong 
			font-size: 24px

	.cart-right__block 
		padding: 30px 30px 20px

	.checkout-form 
		padding: 20px 30px
		margin-bottom: 50px
		border: 6px solid #014da1

		.btn
			padding: 12px 30px 10px
			font-size: 12px
		.form-item
			width: 200px


	.checkout-form__cart
		font-size: 16px
	.checkout-price
		font-size: 24px

	.tag-list li a 
		padding: 10px 20px
		font-size: 10px

	.catalog-content
		>.row
			>[class^="col"]
				width: 33.333%

		.product-item__img
			height: 210px
		.product-item h4
			font-size: 13px


	.get-goods__item
		height: 90px

		i
			font-size: 36px


	.get-goods__text 
		h4, span
			font-size: 14px


	.order-item__block 
		.btn-blue__transparent
			padding: 12px 30px 10px
			font-size: 14px
		.form-item
			margin-right: 15px
			padding: 10px 15px

			label
				font-size: 10px

	.order-item__header
		.btn-grey
			padding: 12px 30px 10px
			font-size: 14px

	.form-item
		*::-webkit-input-placeholder 
			font-size: 14px

		*:-moz-placeholder 
			font-size: 14px

		*::-moz-placeholder 
			font-size: 14px

		*:-ms-input-placeholder 
			font-size: 14px
		.jq-selectbox__select-text
			font-size: 14px
		.form-item__error
			left: 15px
			top: 35px
			span
				font-size: 10px

	.order-item__form
		min-height: 360px
		padding: 50px 0 0

	.store-table tr td
		padding: 20px 0
		font-size: 12px


	.store-table tr td input[type="checkbox"] + label
		padding: 0 0 0 25px
		font-size: 12px

		&::before
			top: 0
		&::after
			top: 3px

	.store-table .instock
		font-size: 12px


	.form-item .jq-selectbox__dropdown ul li
		font-size: 14px

	.map-strore__item
		padding: 20px

	.map-strore__item input[type="checkbox"] + label
		font-size: 14px

	.cart-wrap
		padding: 40px 30px

	.product-cart__info
		padding: 0 45px 0 30px


	.product-cart__info

		h2
			font-size: 18px

		p
			margin-bottom: 15px


	.product-ratings__links a
		font-size: 14px

	.product-ratings
		margin-bottom: 15px

	.product-cart__price
		span
			font-size: 14px
		strong
			font-size: 28px
	.product-cart__price
		margin-bottom: 15px

	.product-cart__color
		margin-bottom: 15px

	.product-cart__info .plus-minus
		margin-bottom: 20px


	.product-cart__btn .btn
		padding: 12px 30px 10px
		font-size: 14px

	.product-cart__description h2
		padding: 0 0 30px
		font-size: 28px

	.product-cart__description--text h3
		margin-bottom: 20px
		font-size: 22px

	.product-cart__description--text
		padding: 30px 0 60px


	.cart-sidebar .cart-cashback__item h4
		font-size: 14px

	.cart-sidebar .cart-cashback__item strong
		font-size: 28px
	
	.cart-sidebar .cart-cashback__item a
		font-size: 14px

	.cart-sidebar__advantages--icon
		width: 120px

		i
			font-size: 40px
	.cart-sidebar__advantages--text
		width: calc(100% - 120px)
		padding: 15px 10px 15px 0

		p
			font-size: 14px







	.cart-sidebar
		padding: 0 0 0 20px
	.recommend h2
		font-size: 28px

	.recommend-item
		padding: 10px 0

		&__img
			width: 144px

	.recommend-item__price
		span
			font-size: 14px
		strong
			font-size: 20px

	.recommend-item__text 
		h5
			font-size: 12px
		h4
			font-size: 12px

	.recommend-cashback
		padding: 5px 15px
		font-size: 12px

	.accessories
		font-size: 28px

	.accessories-box
		padding: 30px 50px
		border-width: 6px


	.ratings-diagram__item
		margin-right: 35px

	.ratings .btn
		padding: 12px 30px 10px
		font-size: 12px

	.reviews-block
		border-width: 10px

	.ratings
		padding-bottom: 30px

	.product-block__name
		padding: 0 0 0 30px
		h3
			font-size: 20px

	.product-block
		.btn
			padding: 12px 30px 10px
			font-size: 14px


	.product-block__price strong
		font-size: 28px


	.product-block__cashback strong
		font-size: 28px


	.product-block__info
		padding: 0 40px


	.blog-item__text
		padding: 25px 20px

		h3
			font-size: 18px

		p
			font-size: 14px

	.blog-item__date
		margin-bottom: 5px
		font-size: 14px

	.icon-block__item i 
		margin-bottom: 20px
		font-size: 50px


	.icon-block__item h4
		font-size: 18px


	.icon-block__item
		padding: 0 20px

	.about-store .store-table tr td
		padding-left: 30px
		padding-right: 30px

	.store-table__image img
		margin: 0 5px

	.numbers
		padding: 80px 0
	.numbers-item
		strong
			font-size: 50px
		span
			font-size: 18px









































@media only screen and (max-width: 1279px)
	.container
		width: 970px

	.header-top
		padding: 0 30px 0 0
	.search-form 
		input
			padding: 0 20px
		button
			right: 20px
	.header-top__cashback
		font-size: 12px

	.header-nav
		display: block
		padding: 0 30px 0 0

	.header-nav__right
		padding: 0 0 10px 20px
		display: flex
		align-items: center
		justify-content: flex-end
	.catalog-banner
		display: none
	.main-products__slider--overlay 
		padding: 30px 0 30px 40px

	.main-products__slider__name
		font-size: 22px

	.main-products__slider--info 
		font-size: 16px
	.btn
		padding: 12px 30px 10px
		font-size: 12px

	.brands-list
		min-height: auto

	.brands-list__item
		width: auto
		padding: 0 20px
		height: 100px
		line-height: 100px
		text-align: center

		img
			display: inline-block !important
			vertical-align: middle
			max-width: 100%

	.banner-info__name
		font-size: 18px
	.banner-info__specifications
		font-size: 14px
	h2, h1
		font-size: 28px
	.questions
		padding: 50px 0
	.reviews-top
		h2
			padding: 0 20px
			text-align: center

	.about-mission p
		font-size: 16px

	.articles
		.row-eq-height
			display: block

	.articles-item
		margin-bottom: 20px
		background: #fff

		h3
			height: auto
			margin-bottom: 20px
		img
			display: none
		&__overlay
			position: static
			display: block

	.footer-wrap
		flex-wrap: wrap

		.footer-item
			width: 25%

	.action-wrap
		.col-lg-3
			width: 33.33333%


	.action-top
		align-items: flex-start

	.action-filter li
		margin-bottom: 15px


	.subscription-form
		padding: 0 30px
		margin: 0

		&::before
			display: none


	article
		padding: 50px

	
	.cabinet
		.col-md-3
			width: 33%
		.col-md-9
			width: 67%
	.user-data__row
		flex-wrap: wrap
	.user-data__item
		width: 100%
		margin-bottom: 0

	.delivery-address
		flex-wrap: wrap
		margin-bottom: 0
		.form-item, .form-item.width-35
			width: 100%
			margin-bottom: 20px


	.info-block
		[class^="col"]
			width: 50%

	.user-table tr td
		padding: 15px 0
		font-size: 12px

	.user-data h3
		font-size: 18px


	.product-table
		display: block
		>li
			display: block
			>*
				display: block

		&__block
			width: auto

		.width-40
			width: auto
			padding: 0


	.product-table
		>li
			position: relative
		.clear-btn
			position: absolute
			top: 15px
			right: 15px
		

	.user-table__orders--list p
		font-size: 12px
		padding: 15px


	.cart-section
		>.container
			>.row
				>[class^="col"]
					width: 100%


		.product-table li
			padding-top: 20px
			padding-bottom: 20px



		.product-table__block.width-23 
			width: auto
			padding: 20px 20px 0

		.product-table .product-table__block.width-40
			width: auto

	
	.tag-list
		display: block
		li
			margin-right: 5px

			a
				margin-bottom: 8px

	.catalog-wrap
		position: relative
		display: block


	.sidebar-filter__btn
		display: block
		margin-bottom: 30px
		margin-left: 5px

	.sidebar
		position: absolute
		left: 0
		top: 69px
		background: #fff
		transform: translate(-1000px, 0)
		z-index: 100

		&.active
			transform: translate(0, 0)

	
	.catalog-content
		width: auto


	.advantages-list
		display: block

	.order-wrap
		[class^="col"]
			width: 100%

	.cart-wrap
		>[class^="col"]
			width: 100%


	.accessories-item
		padding: 0 80px 0 0
		&:before
			right: 30px

	.ratings-diagram__wrap
		display: block


	.ratings-diagram
		margin-bottom: 30px

	.ratings-diagram__text
		padding: 0 0 0 15px


	.reviews-block__right
		padding: 35px 40px 35px


	.blog-page .about-mission__img
		padding: 0 60px 0 40px

	.blog-page .about-mission__text
		padding-right: 40px

	.store-table__image img
		max-width: 60px
		border: none


	.about-blue__wrap
		margin: 0 auto

	.uniqueness
		padding: 50px 0 50px

	.uniqueness-item
		max-width: 260px


	.user-table tr:first-child td
		font-size: 10px

	.user-table tr td
		padding-left: 5px
		padding-right: 5px
		font-size: 10px
		br
			display: none

	.user-table__orders--list .togger 
		padding: 20px 25px 20px 0px

	.user-data 
		padding: 35px 20px 35px































@media only screen and (max-width: 991px)
	.container
		width: 750px

	.logo 
		border-right: 1px solid #82A9D1


	.main-products > .row
		display: block
	.header-wrap__right
		width: calc(100% - 90px)
	.logo
		width: 90px
		padding: 0 10px
	
	.header-top, .header-nav
		padding: 0 15px 0 0
	.header-top
		padding-top: 10px
		padding-bottom: 10px
		justify-content: space-between

	.header-top__select
		border-left: 0
	.header-top__left
		width: 49%

	.navbar-nav > li > a
		font-size: 12px

	.header-top__btn > li
		margin-left: 15px
	.catalog-submenu__body 
		width: 310px
		padding: 30px 15px

	.brand-links li
		width: 49%

	.main-products__slider
		margin-bottom: 15px

	.banner img
		min-height: 120px
	.banner-info__name
		font-size: 14px
	.banner-info__specifications
		font-size: 10px

	.banner-info .btn 
		padding-left: 25px
		padding-right: 25px

	.about-blue
		height: 500px
		padding: 60px 0 0 90px
	
	.about-mission__img
		width: 300px
	.about-mission__text
		width: calc(100% - 340px)


	.reviews-slider__item .star-list li i
		font-size: 14px
	.footer-payment
		padding: 0
	.catalog-submenu__body .tabs-nav > li > a
		min-width: 140px

	.action-wrap .col-lg-3
		width: 50%
	.subscription
		padding: 30px 0
	.subscription-form
		.justify-align
			display: block
	
		.form-item
			margin: 0 auto 20px

			&:last-of-type
				margin: 0 auto 20px
		.btn
			display: block
			width: 160px
			margin: 0 auto 20px

		.personal-data
			text-align: center
			margin-bottom: 0
		

	.cabinet
		.col-md-3
			width: 100%
		.col-md-9
			width: 100%



	.user-menu li a 
		height: 50px
		font-size: 14px


	.user-data 
		padding: 20px 20px 35px

		h3
			text-align: center

	.checkout-form
		.justify-align
			flex-direction: column


		.form-item, .checkout-form__cart, .checkout-price
			margin-bottom: 20px


	

	.ratings-diagram
		flex-wrap: wrap

		&__item
			width: 50%
			margin: 0 0 30px
			justify-content: center

			flex-direction: column



	.ratings
		h2
			text-align: center


	.ratings-diagram__wrap
		.btn
			max-width: 190px
			display: block
			margin: 0 auto


	.product-block
		display: block

	.product-block__main
		width: auto

	.product-block__info
		width: auto
		border: none
		padding: 30px 0
	
	.product-block__cashback
		width: auto


	.search-form button
		right: 13px
		top: 34%

	.blog-item__img
		padding-top: 20px
		text-align: center
	
	.blog-page
		article
			padding: 0
			margin: 0

			p
				margin-bottom: 15px
				font-size: 14px

			.blockquote-center
				p
					font-size: 20px

	.blockquote-left 
		padding: 0 0 0 30px
		margin-bottom: 30px
		border-left: 10px solid #014DA1


	.article-date 
		padding: 15px 0
		font-size: 14px

	.blog-page article h3
		margin-bottom: 20px

	.article-img__double
		margin: 0 0 30px


	.blockquote-center__author
		font-size: 14px


	.blockquote-center 
		padding: 50px 0
		margin-bottom: 30px


	.blog-page article ul

		li
			padding: 0 0 0 20px
			margin-bottom: 15px
			font-size: 14px

	.news-arrows
		display: block
		text-align: center

	.news-arrows__left
		display: block
		text-align: center
		margin-bottom: 20px
		>*
			display: inline-block
			vertical-align: middle
	.news-arrows__right
		display: block
		text-align: center
		>*
			display: inline-block
			vertical-align: middle

	.news-arrows__text a.news-arrows__links
		font-size: 14px
	.news-arrows__text a.news-arrows__popular
		font-size: 12px

	.news-arrows__btn
		top: 0


	.blockquote-center 
		padding: 50px 20px

	.article-share__wrap
		display: block

	.article-view
		padding-top: 10px
		text-align: center

	.icon-block__item
		margin-bottom: 30px
		&::before
			display: none

	.blog-page
		padding: 0 0 40px

	.store-table__image
		display: none

	.about-store
		padding: 50px 0

	.numbers-item 
		strong
			font-size: 30px
		span
			font-size: 14px

	.uniqueness-wrap
		display: block

	.uniqueness-item
		max-width: 100%
		text-align: center
		margin: 0 0 30px

		img
			margin: 0 auto 30px






























































@media only screen and (max-width: 767px)
	.container
		width: auto
		padding-left: 15px
		padding-right: 15px
	.header-nav
		background: #014DA1
	
	.navbar-toggle
		position: absolute
		right: 5px
		top: 10px
		margin: 0
		float: none
		.icon-bar
			position: relative
			height: 2px
			background: #fff
			transition: all .2s ease

		&.active 
			.icon-bar
				margin: 0

				&:nth-of-type(1)
					width: 25px
					top: 7px
					transform: rotate(45deg)

				&:nth-of-type(2)
					background-color: transparent
				&:nth-of-type(3)
					width: 25px
					top: -7px
					transform: rotate(-45deg)

		.icon-bar
			&+.icon-bar
				margin-top: 5px

	.nav.navbar-nav.active
		display: block

	.navbar
		position: static

	.navbar-collapse
		position: absolute
		left: 0
		right: 0
		top: 88px
		background: #fff
		z-index: 100

	.navbar-nav
		position: relative
		width: 100%


		>li
			display: block
			text-align: center
			&.catalog-btn::before
				color: #8D8D8D

			&.visible-xs
				>.justify-align
					background: #014DA1

					.header-top__cashback
						width: 50%
						&::before
							display: none
					.header-top__select
						width: 50%
			>a
				position: relative
				display: block
				text-align: left
				padding: 10px 15px
				font-size: 14px
				color: #8D8D8D
				min-height: 0
				line-height: normal
				border-top: 1px solid #D5D5D5

				&.active
					color: #8D8D8D

				&:hover, &:focus
					color: #8D8D8D

				&::after
					display: none

				.mobile-toggler
					display: inline-block !important
					position: absolute
					right: 15px
					top: 9px
					font-size: 20px
					color: #8A8A8A
					z-index: 100
					cursor: default
	
	
	.catalog-menu
		width: auto

		>li
			>a
				span
					text-align: left

	.catalog-submenu__body
		width: auto

	

	.catalog-submenu
		position: static

	.header-top
		justify-content: flex-end

	.header-top__btn > li.header-top__toggler
		position: static

	.header-top__window
		min-width: auto
		top: 70px

	.header-top__window--top
		.justify-align
			display: block

			.btn
				margin-top: 15px
				width: 100%
				font-size: 12px

	.header-top__window .product-table
		.product-table__block.width-40
			padding: 0
			.left-align
				padding: 10px 0

	.header-top__window .product-table .product-table__block
		position: static

	.header-top__window .product-table .product-table__block:last-child .clear-btn
		position: absolute
		top: 10px
		right: 0
		left: auto
	.header-top__window .product-table .product-table__name
		padding: 10px 0 0

	.header-top__window .product-table .product-table__price
		padding: 0

	.header-top__btn
		padding: 0 60px 0 0

	.logo
		padding: 10px
		align-items: flex-start
	.header-wrap__right
		background: #014DA1

	.search-form
		width: auto
		background: #014DA1
		border-top: 1px solid #80A6D0

	h2,h1
		font-size: 22px

	.icon-menu__row
		margin: 0
		display: block

	.icon-menu__item
		width: auto
		margin: 0 0 10px
		height: 75px
		flex-direction: row-reverse
		align-items: center
		justify-content: flex-end

	.main-products
		margin: 20px 0 15px

	.icon-menu__name
		padding: 0 0 0 15px
		height: auto

	.reviews-slider__item
		position: relative
		padding: 25px 30px 50px

		.star-list
			margin-bottom: 10px

		.reviews-slider__date
			position: absolute
			right: 15px
			top: 2px
			margin-bottom: 0

		.share-btn
			position: absolute
			right: 15px
			bottom: -17px

		h4
			padding-right: 40px

		.reviews-like
			button
				height: 40px
				width: 75px

				i
					font-size: 22px
	.reviews-slider__btn 
		button
			width: 36px
			height: 36px

			i
				font-size: 10px

	.reviews-top
		position: relative
		padding-bottom: 50px
		flex-direction: row-reverse

		h2
			padding-left: 0

		.btn
			position: absolute
			left: 0
			right: 0
			bottom: -8px
			max-width: 300px
			margin: 0 auto

	.about-mission
		display: block
		h2
			margin-bottom: 20px
	.about-mission__img
		padding: 0 0 30px
		width: auto
		text-align: center
	.about-mission__text
		width: auto
		text-align: center

	.footer-wrap 
		padding-bottom: 10px
		.footer-item
			width: 100%
			padding-bottom: 10px
			margin-bottom: 10px
			border-bottom: 1px solid #0072B8

			h4
				text-align: center
		.soc-btn
			text-align: center

			li a .icon-youtube
				font-size: 25px

		.scroll-top
			margin: 0 auto
	.footer-item__links 
		h4
			padding: 0
			text-align: center
			&::before
				display: none

		ul
			li
				display: inline-block
				width: 49%
				text-align: center

	.footer-bottom__wrap
		display: block
		text-align: center

	.footer-bottom__left
		padding-bottom: 10px
	.footer-bottom__right
		text-align: center
	.footer-dev
		padding: 15px 0 0
		justify-content: center

	.questions-wrap
		position: relative
		padding-bottom: 40px

		[class^="col"]
			position: static

	.questions-left
		p
			font-size: 18px
			margin-bottom: 20px
			br
				display: none
		.btn
			margin: 0
			position: absolute
			bottom: -20px
			left: 15px


	.questions-right__more
		position: relative
		display: inline-block !important
		padding: 0 15px 0 0
		margin-bottom: 10px
		color: #82A2CC
		font-size: 14px

		&.active
			i
				transform: rotate(-90deg)

		&:hover, &:focus
			color: #fff

		i
			position: absolute
			top: 5px
			right: 0
			font-size: 8px
			transform: rotate(90deg)


	.questions-right
		display: none
		p
			font-size: 14px
			margin-bottom: 10px

			strong
				font-size: 14px


		strong
			font-size: 14px
			margin-bottom: 10px

	.questions ul li
		font-size: 14px


	.product-item 
		padding: 15px 15px 30px
		background: #fff

	.product-item__img
		height: auto
	.banner-info__wrap
		flex-direction: column
		padding: 10px 0

	.section 
		padding: 35px 0 35px

		h2
			margin-bottom: 30px
	.product-item__tag
		left: -15px

	.breadcrumbs
		margin: 15px 0
		li
			font-size: 14px

	.action-top
		flex-wrap: wrap
		flex-direction: column-reverse


	.action-select
		padding: 0 0 30px

		.jq-selectbox__dropdown ul
			max-height: 147px !important
	input[type="checkbox"] + label
		text-align: left
	.action-filter li a 
		padding: 7px 20px 7px
		font-size: 12px

	.action-select .jq-selectbox__dropdown
		left: 0 !important

	.action-wrap .col-lg-3
		width: auto

	.action-item
		max-width: 400px
		margin: 0 auto 20px

	.subscription-form .form-item
		width: auto

	.pagination-list
		margin: 20px 0 50px
	.pagination-list li a
		font-size: 12px
		width: 30px
		height: 30px
	.pagination-list .pagination-list__first, .pagination-list .pagination-list__last
		margin: 0
	.section-inner h2, .section-inner h1
		margin-bottom: 25px
	.btn-blue__transparent, .article-img .btn-blue__transparent
		padding: 10px 30px 10px
	article 
		padding: 15px
		margin-left: -15px
		margin-right: -15px

	.article-img
		.justify-align
			display: block
			text-align: center

			.btn
				margin-bottom: 10px

	.section-inner 
		padding: 0 0 30px
	.soc-btn li
		margin-right: 10px
	.article-share .soc-btn a
		width: 30px
		height: 30px
		font-size: 16px

	.article-share .soc-btn a .icon-vk 
		font-size: 20px

	.user-data h3
		font-size: 18px

	.user-data__address h3
		padding: 0 30px 0 0

	.user-data__address--list 
		li
			position: relative
			padding: 15px 45px 15px 60px
			&::before
				top: 10px
				left: 17px

			p
				font-size: 12px

		
			button
				position: absolute
				right: 10px
				top: 10px

	.user-cashback__top
		display: block
		margin-bottom: 10px

		h3
			margin-bottom: 15px
	.cashback-tab
		justify-content: center

	.cashback-tab a, .order-item__tab a
		padding: 10px 20px 10px
		min-width: 130px
		font-size: 12px

	.info-block [class^="col"]
		width: 100%

	p 
		font-size: 14px
		margin-bottom: 15px

	.user-orders__tab--nav
		font-size: 18px
		margin-right: 40px

	.user-table__orders
		font-size: 8px

	.user-table__orders--list p
		font-size: 8px
		padding: 8px 5px

	.user-table__orders--list .togger 
		padding: 10px 20px 10px 5px
		&::before
			right: 10px
			top: 11px
			font-size: 8px

	.cart-top
		display: block

	.catalog-content > .row > [class^="col"]
		width: auto


	.advantages-list__item
		padding: 20px 30px
		border-bottom: 1px solid #ccc
		&::before
			display: none


	.catalog-top
		display: block
	
	.sidebar
		width: 305px


	.form-payment__wrapper
		.tabs-item 
			display: block

		.tabs-item__body
			display: none

	.tabs-mobile__btn
		position: relative
		display: block
		margin-bottom: 10px
		min-height: 46px
		line-height: 46px
		background: $blue
		font-size: 14px
		font-weight: bold
		text-transform: uppercase
		color: #fff
		padding: 0 15px

		&::before
			content: '>'
			position: absolute
			right: 15px
			top: 0
			font-size: 18px
			font-weight: bold
			color: #fff
			font-family: monospace


		&:hover, &:focus
			opacity: 1
			color: #fff

	.active-m
		.tabs-mobile__btn
			&::before
				transform: rotate(90deg)



	.order-header
		display: block

	.order-item
		padding: 20px
	
		.form-item
			margin-right: 0
			margin-bottom: 15px

	.order-item__block
		.left-align
			display: block

	.order-item__block.divider
		padding: 0 0 10px
		margin-bottom: 20px

	.get-goods
		display: block

	.get-goods__item
		width: auto
		margin-bottom: 15px

	.order-item__total .blue-btn
		width: 100%
	.order-item__table
		margin-top: 10px
	.order-item__table tr td 
		padding: 15px 0
		font-size: 10px
		

	.order-item__block h3
		font-size: 18px

	h3.order-item__toggler.active::after, h3.order-item__toggler::after
		top: 3px
	.order-item__total--price
		font-size: 24px
	
	.order-item__header
		display: block

		h3
			margin-bottom: 15px
	.tabs-item__body
		padding: 10px 0 0

	.form-item.width-35, .form-item.width-60
		width: 100%

	.order-item__form .justify-align
		display: block

	.order-item__form--icon
		display: none

	.order-item__form--info
		padding: 0

	.order-item__form 
		min-height: 0
		padding: 40px 0 30px

	.order-item__block--top
		display: block

		h3
			margin-bottom: 15px

	.store-table 
		tr
			display: block
			padding: 10px 0
			border-bottom: 1px solid #ccc 
			td
				display: block
				padding: 6px 0
				border: none

				&:last-child
					text-align: left


	*::-webkit-input-placeholder 
		font-size: 12px

	*:-moz-placeholder 
		font-size: 12px

	*::-moz-placeholder 
		font-size: 12px

	*:-ms-input-placeholder 
		font-size: 12px

	.store-form
		padding: 0 0 10px

	.instock::before
		font-size: 8px

	.map-strore
		width: auto
		position: static

	#googleMap
		height: 300px

	.map-wrap
		margin: 0

	.product-cart
		display: block

	.product-cart__slider
		width: auto

	.cart-wrap 
		padding: 30px 15px

	.product-cart__info
		padding: 0 55px 0 0
		margin-top: 20px

	.product-ratings
		.star-list
			li
				margin: 0

				i
					font-size: 12px

	.product-ratings__links
		a, span
			font-size: 12px

	.product-cart__info
		width: auto

	.product-cart__btn
		display: block
		width: 260px

		.btn
			display: block
			width: 100%
			margin-bottom: 10px
			min-height: 0


	.accessories-wrap
		display: block
	.accessories-item__wrap
		display: block
		.accessories-item
			padding: 0 0 80px

			&:before
				right: 45%
				bottom: 11px
				top: auto
				font-size: 40px


	.ratings-diagram__text
		padding: 0
		a, span
			font-size: 12px

	
	.cart-sidebar
		padding: 0

	.cart-cashback
		display: block

	.cart-cashback__item
		width: auto
		border: none
		border-bottom: 1px solid #3471B4

		&::before
			display: none


	.cart-sidebar__advantages
		padding: 20px
		display: block
	.cart-sidebar__advantages--icon
		width: auto
	.cart-sidebar__advantages--text
		width: auto
		text-align: center

	.recommend-item
		padding: 10px 0 40px

	.reviews-block__left
		text-align: center

		.share-btn
			margin: 0 auto 30px


	.reviews-block__left .star-list
		margin-bottom: 15px


	.reviews-block__left h3, .reviews-block__left .reviews-date
		margin-bottom: 15px
	
	.product-block
		margin-bottom: 40px
	.product-block__main
		display: block
		text-align: center

	.product-block__name h3
		margin: 10px 0 10px
		font-size: 16px

	.product-block__name .left-align
		display: block

	.product-block .btn
		margin-top: 10px


	.about-store .map-strore
		width: auto

	.icon-block__item
		padding: 0


	.blog-page .about-mission__img
		width: auto
		text-align: center

	.blog-page .about-mission__text
		width: auto
		text-align: center
		padding: 20px 0 0

	.blog-page .about-mission
		padding: 30px 0 30px


	.blog-page article h3
		font-size: 18px

	.numbers
		padding: 50px 0 20px

	.numbers-wrap
		display: block
		text-align: center

	.numbers-item
		margin-bottom: 30px

	.uniqueness h3
		margin-bottom: 50px
		text-align: center

	.color-list 
		padding: 15px 0 0 4px
    
	.cart-cashback
		padding: 0
	.cart-cashback__item
		padding: 20px 0


	.info-block__item
		padding: 0 0 0 40px

	.user-data.user-orders
		margin-top: 30px


























@media only screen and (max-width: 500px)
	.header-top__right
		padding: 6px 0 0
	.header-top__btn 
		> li 
			margin-left: 10px
			> a
				width: 24px
				height: 24px

				i
					font-size: 12px
		.header-cart
			position: relative
		.header-cart__wrap 
			padding: 0
			span:last-child
				display: none

	.header-cart__count, .header-top__btn > li > a > span
		position: absolute
		right: -5px
		bottom: -5px
		width: 14px
		height: 14px
		border-radius: 50%
		font-size: 7px
		line-height: 14px
		margin: 0
	.header-top__btn > li > a > img
		border-radius: 4px

	.about-blue
		height: 420px
		padding: 30px 15px 0 15px

		h2
			font-size: 18px

		p
			font-size: 14px

			br
				display: none
		.btn-play
			transform: scale(.8)

	.icon-slider__item::after
		display: none

	.main-products__slider--overlay 
		padding: 10px 15px 30px 15px
	.main-products__slider__name
		font-size: 14px
	.main-products__slider--info
		font-size: 12px
	.main-products__slider 
		.slick-dots
			bottom: 5px
		.slick-slide 
			img
				min-height: 160px
		.btn
			padding: 7px 20px 6px
			font-size: 10px


	.product-item__tag
		width: 60px
		height: 60px
		font-size: 8px

	.user-table tr:first-child td 
		font-size: 10px

	.user-table tr td 
		padding: 10px 0
		font-size: 10px

	.user-cashback__additional .btn 
		padding: 12px 30px 10px
		margin-bottom: 30px
		font-size: 10px

	.cashback-tab a, .order-item__tab a 
		font-size: 10px

	.product-table__name
		h3
			text-align: left
			font-size: 14px

	.product-table__block.width-40
		.left-align
			position: relative
			display: block

			.btn-cart
				position: absolute
				right: 0
				top: 0
				margin: 0
	.product-table__price
		padding: 10px 0 0
		display: flex
		align-items: center
		flex-direction: row-reverse
		justify-content: space-between

	
	.user-orders__tab--nav
		font-size: 14px
		margin-right: 30px

	.user-table__orders
		tr
			td		
				font-size: 6px
	
	.user-table__orders--list p
		font-size: 6px
		padding: 8px 3px

	.user-table__orders tr:first-child td
		font-size: 6px
	.user-data.user-orders
		margin-left: -15px
		margin-right: -15px

	.banner-info
		.btn 
			padding: 10px 20px 8px
			font-size: 10px
	
	.cart-section
		.product-table__block
			>.justify-align
				display: block

		.plus-minus
			width: 120px
			margin: 20px 0 0
		
		.btn-grey
			margin-bottom: 20px